<template>
  <v-app>
    <router-view />
  </v-app>
</template>

<script>
import HelloWorld from "./components/HelloWorld";

export default {
  name: "App",
  components: {
    HelloWorld
  },
  data() {
    return {
      //
    };
  }
};
</script>

<style>
.category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  font-size: 18px;
  border-left: 1px solid #e8e8e8;
  cursor: pointer;
}
.category-icon-ur {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  font-size: 18px;
  border-right: 1px solid #e8e8e8;
  cursor: pointer;
}

.v-badge__badge {
  width: 17px !important;
  height: 17px !important;
  font-size: 11px !important;
  line-height: 10px;
}
.v-avatar{
  width: 22px !important;
  height: 22px !important;
}
.icon_details{
  margin: 0 8px;
}
.about-us {
    margin: 20px 80px;
    line-height: 35px;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
}
.about-us-ur {
    margin: 20px 80px;
    line-height: 35px;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
}
</style>
