

* {
    font-family: 'Muli', sans-serif;
}
:root {
    --color-icon : #949494 ;
}
.body-title {
    max-width: 440px;
    letter-spacing: -3px;
    border-bottom: 10px solid gray;
}
.news-info {
    bottom: 0;
     right: 0;
     left: 10px;
}
.btn-news {
    background: #4CAF50;
    border: none;
}
.btn-login:hover {
    background-color:#4CAF50 ;
    color: white;
}

.navbar {
    z-index: 1;
}
.mt-100 {
    margin-top: 100px;
}
.card {
    height: 100%;
}
/* .nav-tabs {
    position: sticky;
    top: 55px;
    z-index: 1;
}
.nav-tabs .nav-link {
    font-weight: bold;
    text-transform: capitalize;
    color: black;
    font-size: 16px;
    opacity: 0.5;
    font-family: sans-serif;
    border: none;
    letter-spacing: -1px;
}
.nav-tabs .nav-link:hover 
{
    opacity: 1;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border: none !important;
    color: black;
    opacity: 1;
    border-bottom: 2px solid var(--color-icon) !important;
} */
.search-icon {
    left: 15px;
    top: 15px;
    font-size: 16px;
}
.form-search {
    background-color: #f7f7f7;
    padding: 11px 0;
}

.form-search::placeholder {
    font-size: 18px;
    font-weight: 500;
}
.card {
    border-left: none;
    border-right: none;
}
.fs-14 {
    font-size: 14px;
}
.fs-18 {
    font-size: 18px;
}
.fw-500 {
    font-weight: 500;
}
.like-icon {
    fill: none;
    color: #949494;
    stroke: currentColor;
}
.flip-icon , .share-icon {
    color: var(--color-icon);
    stroke: currentColor;
    fill: currentColor;
}
span p {
    color: black !important;
}
