<template>
  <v-app id="inspire">
    <!-- right sidebar  -->
    <template v-if="$vuetify.breakpoint.smAndUp">
      <v-navigation-drawer
        class="text-xs-center right-sidebar"
        dark
        permanent
        mini-variant
        right
        app
      >
        <ul class="sources_list">
          <div class="customize-icon">
            <!-- <i @click="customizeDialog = true" class="large fas fa-cog"></i> -->
            <!-- <i @click="customizeDialog = true" class="large fa fa-times" aria-hidden="true"></i> -->
            <!-- <iclass="large material-icons">settings</i> -->
          </div>
          <li style="padding-top: 2px" v-for="(item,index) in sourceListArr" :key="index">
            <a @click="getSingleSourceNews(item.id)" :title="item.source">
              <img :src="getImgSlug(item.slug)" class="source_icon" />
            </a>
          </li>
        </ul>
      </v-navigation-drawer>
    </template>

    <!-- header -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="nav-custom v-card v-sheet theme--dark primary" style="display: flex">
            <v-toolbar-side-icon @click.stop="drawer = !drawer" class="hidden-lg-and-up">
              <i class="hidden-lg-and-up fas fa-bars"></i>
            </v-toolbar-side-icon>
            <div class="w-100 mr-2">
              <autocomplete
                :search="search"
                placeholder="Search for a Opinion"
                aria-label="Search for a Opinion"
                :get-result-value="getResultValue"
                @submit="handleSubmit"
              ></autocomplete>
              <v-progress-circular v-if="isSearchType" class="searchLoader" indeterminate></v-progress-circular>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- left sidebar -->
    <v-navigation-drawer dark v-model="drawer" :width="210" fixed app>
      <v-layout align-center justify-center>
        <div class="page-wrapper default-theme sidebar-bg bg1 toggled">
          <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
              <!-- sidebar-brand  -->
              <div class="sidebar-item sidebar-brand">
                <a href="#">
                  <img src="../assets/logo.png" width="60" height="60" alt srcset />Newshunt
                </a>
                <i
                  @click.stop="drawer = !drawer"
                  class="hidden-lg-and-up close-sidebar large fa fa-times"
                  Faria-hidden="true"
                ></i>
              </div>
              <!-- sidebar-menu  -->
              <div class="sidebar-item sidebar-menu">
                <ul>
                  <li class="header-menu">
                    <span>General</span>
                  </li>
                  <li>
                    <a href="https://newshunt.io/dashboard/">
                      <i class="fa fa-tachometer-alt"></i>
                      <span class="menu-text">Dashboard</span>
                      <span class="badge badge-pill badge-warning">New</span>
                    </a>
                  </li>
                  <li class="header-menu">
                    <span>Extra</span>
                  </li>
                  <li>
                    <a @click="gotoHome()">
                      <i class="fa fa-book"></i>
                      <span class="menu-text">News</span>
                    </a>
                  </li>
                  <li>
                    <a :class="{ activeClass: homepage }" @click="gotoOpinion()">
                      <i class="fa fa-book"></i>
                      <span class="menu-text">Opinion</span>
                    </a>
                  </li>
                  <li>
                    <a :class="{ activeClass: archivepage }" @click="gotoArchive()" href="#">
                      <i class="fa fa-archive"></i>
                      <span class="menu-text">Archives</span>
                    </a>
                  </li>
                  <li>
                    <a :class="{ activeClass: aboutpage }" @click="gotoAbout()">
                      <i class="fa fa-phone"></i>
                      <span class="menu-text">About</span>
                    </a>
                  </li>
                  <li>
                    <a :class="{ activeClass: contactpage }" @click="gotoContact()" href="#">
                      <i class="fa fa-user"></i>
                      <span class="menu-text">Contact</span>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- <div class="datepicker js-datepicker-inline" tabindex="0"></div> -->
              <date-picker v-model="date" :config="options"></date-picker>
              <!-- sidebar-menu  -->
            </div>
          </nav>
        </div>
      </v-layout>
    </v-navigation-drawer>

    <v-content>
      <!-- tabs -->
      <template>
        <v-tabs grow style="margin: 0px 16px">
          <v-tab>Latest</v-tab>
          <v-tab>Trending</v-tab>
        </v-tabs>
      </template>

      <v-container v-if="homepage | archivepage | trendingpage" fluid grid-list-md text-xs-center>
        <!-- <ul class="leftx">
          <li v-for="(item,index) in opinionList" :key="index">
            <v-checkbox v-model="selectedOpinion" :value="item.id" :label="item.name"></v-checkbox>
          </li>
        </ul>-->

        <v-btn class="hidden-sm-and-up info show_news_btn" @click="customizeDialog = true">
          <i class="large fas fa-cog"></i>
        </v-btn>

        <v-layout row wrap>
          <v-flex v-if="isSingleSource" xs12>
            <h4 class="page-head-style">
              {{singleSourceName}}
              <!-- <span class="justify-content: right">Total News: {{sourceCount}}</span> -->
            </h4>
          </v-flex>



          <v-flex v-if="showDate" class="d-block" xs12>
            <h4 class="page-head-style">
              <i
                @click="removeDate()"
                class="date-remove large fa fa-times"
                style="justify-content: right"
                aria-hidden="true"
              ></i>
              {{date}}
              <!-- <span class="justify-content: right">Total News: {{dateCount}}</span> -->
            </h4>
          </v-flex>

          <div v-if="notFound" class="mx-auto" max-width="400">
            <img class="white--text align-end" height="200px" src="../assets/not_found.png" />
            <div class="text-center">
              <v-card-text class="text--primary">
                <h4 class="pb-0">No News Found</h4>
                <div>{{notFoundMsg}}</div>
              </v-card-text>

              <v-card-actions class="d-block">
                <button type="button" class="btn btn-outline-primary">Reset</button>
              </v-card-actions>
            </div>
          </div>
          <!-- news row -->
          <v-flex v-for="(news,index) in newsArr" :key="index" xs12>
            <!-- Archive Page  -->
            <v-card dark color="white">
              <v-card-text class="p-0">
                <div class="news-section" style="min-height: 150px">
                  <div class="news-img">
                    <img
                      v-if="news.media == null | news.source == 'Pakistan Today'"
                      :src="getImgSlug(news.source_slug)"
                    />
                    <!-- <img v-if="news.media == null" v-lazy="getImgSlug(news.source_slug)" alt /> -->
                    <img v-else v-lazy="news.media" alt />
                  </div>
                  <div class="news-details">
                    <div class="news-head">
                      <div>
                        <img class="news-source-small-img" :src="getImgSlug(news.source_slug)" alt />
                        <span class="news-source">{{news.source}}</span>
                        <span class="news-time">- {{news.pub_date | timeAgo}}</span>
                      </div>
                      <div>
                        <i class="fa fa-share share_icon" @click="shareNews(news.id)"></i>
                        <i
                          v-if="!archivepage"
                          @click="addArchive(news.id)"
                          class="fa fa-archive share_icon"
                        ></i>
                        <!-- <i
                          v-if="archivepage"
                          @click="deleteArchive(news.id)"
                          class="fa fa-trash-alt share_icon"
                        ></i>-->
                      </div>
                    </div>
                    <!-- <br /> -->
                    <router-link
                      class="news-title"
                      :to="{ path: '/en/opinion-detail/' + news.id}"
                      target="_blank"
                      replace
                    >{{news.title}}</router-link>
                    <p class="news-description">{{news.description}}</p>
                    <div class="news-bottom">
                      <div>
                        <b><p>By: {{news.author}}</p></b>
                      </div>
                    </div>
                  </div>
                </div>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>

        <!-- skeleton news loader  -->
        <template v-if="isNoNews">
          <div class="ph-item" v-for="i in 10" :key="i">
            <div class="ph-col-2">
              <div class="ph-picture"></div>
            </div>
            <div>
              <div class="ph-row">
                <div class="ph-col-2"></div>
                <div class="ph-col-10 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-12 empty"></div>
                <div class="ph-col-2 round"></div>
                <div class="ph-col-2 empty"></div>
                <div class="ph-col-2 round"></div>
                <div class="ph-col-2 empty"></div>
                <div class="ph-col-2 round"></div>
                <div class="ph-col-2 empty"></div>
              </div>
            </div>
          </div>
        </template>

        <!-- load more loader  -->
        <div v-if="isLoadMore" class="text-center ma-12 loading-area">
          <v-progress-circular
            :indeterminate="indeterminate"
            :rotate="rotate"
            :size="size"
            :width="width"
            color="light-blue"
          ></v-progress-circular>
        </div>
      </v-container>

      <!-- About Page  -->
      <v-container v-if="aboutpage" fluid grid-list-md>
        <v-flex xs12>
          <h4 class="page-head-style">About Us</h4>
        </v-flex>
        <v-card dark color="white" class="contact_us">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-sm-12">
                <h4>WELCOME</h4>
                <p>Newshunt.io is a website that aggregate all Pakistan news to one platform www.newshunt.io.</p>

                <h4>MORE ABOUT US</h4>
                <p>You need great content to be better at what you do, and understand your world – whether you’re a parent or political leader, obsessed with pandas or space travel. News Hunt collects quality content on your favorite topics from the Pakistan’s most trusted sources, and presents them in a beautiful magazine format. See for yourself: try News Hunt on your smartphone, tablet, or desktop.</p>
              </div>
            </div>
          </div>
        </v-card>
      </v-container>

      <!-- Contact Page   -->
      <v-container v-if="contactpage" fluid grid-list-md>
        <v-flex xs12>
          <h4 class="page-head-style">Contact Us</h4>
        </v-flex>
        <v-card dark color="white" class="contact_us">
          <div class="container">
            <div class="row">
              <div class="col-sm-8">
                <div>
                  <label>Name:</label>
                  <input type="text" name="name" class="form-control" />
                </div>
                <label for="name" class="error"></label>
                <div>
                  <label>Email:</label>
                  <input type="email" name="email" class="form-control" />
                </div>
                <label for="email" class="error"></label>
                <div>
                  <label>Subject:</label>
                  <input type="text" name="subject" class="form-control" />
                </div>
                <label for="subject" class="error"></label>
                <div>
                  <label for="message">Message:</label>
                  <textarea name="message" id="message" cols="30" rows="4" class="form-control"></textarea>
                </div>
                <label for="message" class="error"></label>

                <button type="submit" style="margin-top: 8px" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </v-card>
      </v-container>
    </v-content>

    <!-- snackbar  -->
    <v-snackbar
      v-model="snackbar"
      :color="snackbarColor"
      right="right"
      top="top"
      :timeout="timeout"
    >{{snackbarMsg}}</v-snackbar>
  </v-app>
</template>

<script>
import "bootstrap/dist/css/bootstrap.css";

// Import this component
import datePicker from "vue-bootstrap-datetimepicker";

// Import date picker css
import "pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css";
import store from "../store";
import Sidebar from "./Sidebar";
import { arch } from "os";
import {
  Facebook,
  Twitter,
  Linkedin,
  Pinterest,
  Reddit,
  Telegram,
  WhatsApp,
  Email,
  Google
} from "vue-socialmedia-share";
export default {
  data: () => ({
    // opinion
    selectedOpinion: [],
    opinionList: [
      { id: 1, name: "Mahir Ali" },
      { id: 2, name: "Adeel Wahid" },
      { id: 3, name: "Rafia Zakaria" },
      { id: 4, name: "Zahid Hussain" },
      { id: 5, name: "Arifa Noor" },
      { id: 6, name: "Jawed Naqvi" },
      { id: 7, name: "Ghulam Qadir Khan" },
      { id: 8, name: "Arifa Noor" },
      { id: 9, name: "Jawed Naqvi" },
      { id: 10, name: "Ghulam Qadir Khan" },
      { id: 11, name: "Jawed Naqvi" },
      { id: 12, name: "Ghulam Qadir Khan" }
    ],
    categoryCount: 0,
    sourceCount: 0,
    dateCount: 0,
    searchArr: [],
    isSearchType: false,
    shareDialog: false,
    sharingUrl: "",
    isSingleSource: false,
    isDateNews: false,
    isCustomize: false,
    isDateNews: false,
    isCountry: false,
    isDefaultNews: false,
    defaultCountry: "",
    selectDialog: false,
    customizeDialog: false,
    notifications: false,
    sound: true,
    widgets: false,
    homepage: true,
    cusSourceRegion: "",
    countrySourcesArr: "",
    countrySourcesArrId: [],
    sourceListArr: "",
    cusRegion: "",
    regionArr: [],
    cusCountry: "",
    countryArr: [],
    cusSource: "",
    archiveArr: [],
    sourceArr: [],
    settings: {
      maxItems: null,
      searchField: ["text"],
      plugins: ["remove_button"],
      placeholder: "Select category here"
    },
    regionSettings: {
      maxItems: 1,
      searchField: ["text"],
      plugins: ["remove_button"],
      placeholder: "Select category here"
    },
    aboutpage: false,
    contactpage: false,
    archivepage: false,
    trendingpage: false,
    isNoNews: true,
    isLoadMore: false,
    indeterminate: true,
    rotate: 0,
    size: 40,
    width: 4,
    items: [
      { title: "Dashboard", icon: "mdi-view-dashboard" },
      { title: "Photos", icon: "mdi-image" },
      { title: "About", icon: "mdi-help-box" }
    ],
    right: null,
    websiteLogo: require("@/assets/news-logo.jpg"),
    rightSidebar: true,
    isCollapse: false,
    drawer: null,
    dialog: null,
    dialog2: null,
    snackbarColor: "",
    snackbar: false,
    snackbarMsg: "",
    timeout: 2000,
    drawerRight: null,
    left: false,
    countries: ["Pakistan", "china", "fsasa", "FDAfda", "FAf"],
    newsArr: [],
    lastId: "",
    scrolledToBottom: false,
    summarySheet: false,
    summaryText: "",
    sentimentSheet: false,
    sentimentText: "",
    deepSheet: false,
    deepText: "",
    allowScroll: false,
    startDate: "",
    endDate: "",
    date: "",
    showDate: false,
    options: {
      format: "YYYY-MM-DD",
      useCurrent: false,
      inline: true,
      maxDate: new Date()
    },
    selectSource: "",
    singleSourceId: "",
    showCategory: false,
    catId: "0",
    catArr: [],
    notFound: false,
    notFoundMsg: ""
  }),
  mounted() {
    this.getCategory();
    this.getAllRegions();
    // this.getAllCountries();
    if (localStorage.getItem("archive")) {
      this.archiveArr = JSON.parse(localStorage.getItem("archive"));
    }
    if (localStorage.getItem("source")) {
      this.isCustomize = true;
      this.defaultCountry = localStorage.getItem("countryName");
      this.getCountrySources();
      this.getCustomization();
    } else {
      if (localStorage.getItem("countryName")) {
        this.isCustomize = true;
        this.defaultCountry = localStorage.getItem("countryName");
        this.getCountrySources();
        this.getCustomization();
      } else {
        this.$http({
          method: "get",
          url: "https://extreme-ip-lookup.com/json/"
        }).then(response => {
          this.isCustomize = true;
          this.defaultCountry = response.data.country.toLowerCase();
          localStorage.setItem("countryName", this.defaultCountry);
          this.getCountrySources();
          this.getCustomization();
        });
      }
    }
  },
  computed: {
    categoryName() {
      let category = this.catArr.filter(val => val.id == this.catId);
      let name = "";
      category.map(cat => {
        name = cat.category;
      });
      return name;
    },
    singleSourceName() {
      let source = this.sourceListArr.filter(
        val => val.id == this.singleSourceId
      );
      let name = "";
      source.map(source => {
        name = source.source;
      });
      return name;
    }
  },
  methods: {
    scroll() {
      let self = this;
      window.onscroll = function() {
        var d = document.documentElement;
        var offset = d.scrollTop + window.innerHeight;
        var height = d.offsetHeight;

        if (offset >= height - 1) {
          if (self.allowScroll && self.isCustomize) {
            self.allowScroll = false;
            self.isLoadMore = true;
            self.getNewsMore();
          }
          if (self.allowScroll && self.isDateNews) {
            self.allowScroll = false;
            self.isLoadMore = true;
            self.getDateNewsMore();
          }
          if (self.allowScroll && self.isCategory) {
            self.allowScroll = false;
            self.isLoadMore = true;
            self.getCategoryNewsMore();
          }
          if (self.allowScroll && self.isSingleSource) {
            self.allowScroll = false;
            self.isLoadMore = true;
            self.getSingleSourceNewsMore();
          }
        }
      };
    },
    openLoading() {
      this.$vs.loading({
        type: "material"
      });
    },
    closeLoading() {
      this.$vs.loading.close();
    },
    addHotNews(id) {
      this.$http({
        method: "post",
        url: process.env.VUE_APP_BASE_URL + "/add_hot/",
        data: {
          newsId: id
        },
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": true
        }
      }).then(response => {
        if (response.data.success) {
          this.snackbarColor = "success";
          this.snackbar = true;
          this.snackbarMsg = response.data.message;
        } else {
          this.snackbarColor = "error";
          this.snackbar = true;
          this.snackbarMsg = response.data.message;
        }
      });
    },
    addColdNews(id) {
      this.$http({
        method: "post",
        url: process.env.VUE_APP_BASE_URL + "/add_cold/",
        data: {
          newsId: id
        },
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": true
        }
      }).then(response => {
        if (response.data.success) {
          this.snackbarColor = "success";
          this.snackbar = true;
          this.snackbarMsg = response.data.message;
        } else {
          this.snackbarColor = "error";
          this.snackbar = true;
          this.snackbarMsg = response.data.message;
        }
      });
    },
    shareNews(id) {
      this.sharingUrl = "http://newshunt.io/#/en/news-detail/" + id;
      this.shareDialog = true;
    },
    getCategory() {
      // hide the date when change category
      this.$http({
        method: "get",
        url: process.env.VUE_APP_BASE_URL + "/get_categories",
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": true
        }
      }).then(response => {
        this.catArr = response.data;
      });
    },
    latestCategory() {
      this.catId = "0";
      this.showDate = false;
      this.showCategory = false;
      this.getNews();
    },
    getCategoryNews(id) {
      this.homepage = true;
      this.aboutpage = false;
      this.contactpage = false;
      this.archivepage = false;
      this.notFound = false;
      this.isNoNews = true;
      this.newsArr = [];
      this.showDate = false;
      this.showCategory = true;
      this.catId = id;
      this.$http({
        method: "post",
        url: process.env.VUE_APP_BASE_URL + "/get_catNews/",
        data: {
          cateId: id,
          sources: this.cusSource
        },
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": true
        }
      }).then(response => {
        if (response.data.rows.length > 0) {
          this.isSingleSource = false;
          this.isCategory = true;
          this.isDateNews = false;
          this.isCustomize = false;
          this.allowScroll = true;
          this.isLoadMore = false;
          this.isNoNews = false;
          // this.categoryCount = response.data.newsCount[0].count;
          this.newsArr = [];
          this.newsArr = response.data.rows;
          this.lastId = response.data.rows[response.data.length - 1].id;
          this.scroll();
        } else {
          this.newsArr = [];
          this.isNoNews = false;
          this.notFound = true;
          this.notFoundMsg =
            "There are no news found based on your selection Category";
        }
      });
    },
    getCategoryNewsMore() {
      this.$http({
        method: "post",
        url: process.env.VUE_APP_BASE_URL + "/get_catNewsMore/",
        data: {
          cateId: this.catId,
          sources: this.cusSource,
          lastId: this.lastId
        },
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": true
        }
      }).then(response => {
        response.data.map(val => {
          this.allowScroll = true;
          if (!this.newsArr.some(news => news.id === val.id)) {
            this.isLoadMore = false;
            this.newsArr.push(val);
            this.lastId = val.id;
          }
        });
      });
    },
    getSingleSourceNews(id) {
      this.isNoNews = true;
      this.archivepage = false;
      this.homepage = true;
      this.notFound = false;
      this.singleSourceId = id;
      this.$http({
        method: "post",
        url: process.env.VUE_APP_BASE_URL + "/singleSourceOpnions/",
        data: {
          // cateId: this.catId,
          sourcesId: this.singleSourceId
        },
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": true
        }
      }).then(response => {
        if (response.data.rows.length > 0) {
          this.isSingleSource = true;
          this.isCategory = false;
          this.isDateNews = false;
          this.isCustomize = false;
          this.allowScroll = true;
          this.isLoadMore = false;
          this.isNoNews = false;
          this.newsArr = [];
          // this.sourceCount = response.data.newsCount[0].count;
          this.newsArr = response.data.rows;
          this.lastId = response.data.rows[response.data.rows.length - 1].id;
          this.scroll();
        } else {
          this.newsArr = [];
          this.allowScroll = false;
          this.isNoNews = false;
          this.notFound = true;
          this.notFoundMsg =
            "There are no news based on your Source Please select another source";
        }
      });
    },
    getSingleSourceNewsMore() {
      this.$http({
        method: "post",
        url: process.env.VUE_APP_BASE_URL + "/singleSourceOpnions/more",
        data: {
          // cateId: this.catId,
          sourcesId: this.singleSourceId,
          lastId: this.lastId
        },
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": true
        }
      }).then(response => {
        if (response.data.rows.length > 0) {
          response.data.rows.map(val => {
            this.allowScroll = true;
            if (!this.newsArr.some(news => news.id === val.id)) {
              this.isLoadMore = false;
              this.newsArr.push(val);
              this.lastId = val.id;
            }
          });
        } else {
          this.isLoadMore = false;
        }
      });
    },
    getCountry() {
      this.$http({
        method: "post",
        url: process.env.VUE_APP_BASE_URL + "/get_countries/",
        data: {
          regionId: this.cusRegion
        },
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": true
        }
      }).then(response => {
        let id = response.data.map(val => {
          return val.id;
        });
        this.cusCountry = id;
        localStorage.setItem("country", JSON.stringify(this.cusCountry));
        this.countryArr = response.data;
        this.getAllSources();
      });
    },
    getCustomization() {
      if (localStorage.getItem("region")) {
        this.cusRegion = JSON.parse(localStorage.getItem("region"));
      }
      if (localStorage.getItem("country")) {
        this.cusCountry = JSON.parse(localStorage.getItem("country"));
      }
      if (localStorage.getItem("source")) {
        this.cusSource = JSON.parse(localStorage.getItem("source"));
      }
    },
    // getImgUrl(img) {
    //   img = img.replace(/ /g, "_").toLowerCase();
    //   var images = require.context("../assets/", false, /\.png$/);
    //   return images("./" + img + ".png");
    // },
    getAllRegions() {
      this.$http({
        method: "get",
        url: process.env.VUE_APP_BASE_URL + "/get_regions",
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": true
        }
      }).then(response => {
        if (localStorage.getItem("region")) {
          this.cusRegion = JSON.parse(localStorage.getItem("region"));
        } else {
          let id = response.data.map(val => {
            return val.id;
          });
          this.cusRegion = id;
          localStorage.setItem("region", JSON.stringify(this.cusRegion));
        }
        this.regionArr = response.data;
        this.getAllCountries();
      });
    },
    getAllCountries() {
      this.$http({
        method: "get",
        url: process.env.VUE_APP_BASE_URL + "/get_countries/all",
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": true
        }
      }).then(response => {
        if (!localStorage.getItem("country")) {
          let id = response.data.map(val => {
            return val.id;
          });
          this.cusCountry = id;
          localStorage.setItem("country", JSON.stringify(this.cusCountry));
        } else {
          this.cusCountry = JSON.parse(localStorage.getItem("country"));
        }
        this.countryArr = response.data;
        this.getAllSources();
      });
    },
    getImgSlug(img) {
      // img = img.replace(/ /g, "_").toLowerCase();
      var images = require.context("../assets/", false, /\.png$/);
      return images("./" + img + ".png");
    },
    getAllSources() {
      if (this.cusCountry != null) {
        this.$http({
          method: "post",
          url: process.env.VUE_APP_BASE_URL + "/get_sources/",
          data: {
            countryIds: this.cusCountry
          }
        }).then(response => {
          if (!localStorage.getItem("source")) {
            let id = response.data.map(val => {
              return val.id;
            });
            this.countrySourcesArr.map(val => {
              this.countrySourcesArrId.push(val.id);
              id.push(val.id);
            });
            this.cusSource = id;
            this.cusSource = [...new Set(this.cusSource)];
            localStorage.setItem("source", JSON.stringify(this.cusSource));
          } else {
            let checkForExistingSource = JSON.parse(
              localStorage.getItem("source")
            );
            let id = response.data.map(val => {
              if (checkForExistingSource.includes(val.id)) {
                return val.id;
              }
            });
            // this.countrySourcesArr.map(val => {
            //   this.countrySourcesArrId.push(val.id);
            //   id.push(val.id);
            // });
            this.cusSource = id;
            this.cusSource = [...new Set(this.cusSource)];
            localStorage.setItem("source", JSON.stringify(this.cusSource));
          }
          this.sourceArr = response.data;
        });
      }
    },
    getCountrySources() {
      this.$http({
        method: "get",
        url:
          process.env.VUE_APP_BASE_URL +
          "/getCountrySources/" +
          this.defaultCountry
      }).then(response => {
        if (localStorage.getItem("source")) {
          this.cusSource = JSON.parse(localStorage.getItem("source"));
          this.getSourcesList();
          this.getNews();
        } else {
          this.getSourcesAll();
        }
        this.countrySourcesArr = response.data.sources;
      });
    },
    getSourcesAll() {
      this.$http({
        method: "get",
        url: process.env.VUE_APP_BASE_URL + "/get_sourcesAll"
      }).then(response => {
        let id = response.data.map(val => {
          return val.id;
        });
        this.cusSource = id;
        this.cusSource = [...new Set(this.cusSource)];
        localStorage.setItem("source", JSON.stringify(this.cusSource));
        this.sourceListArr = response.data;
        this.getSourcesList();
        this.getNews();
      });
    },
    getSourcesList() {
      this.cusSource = [...new Set(this.cusSource)];
      this.$http({
        method: "post",
        url: process.env.VUE_APP_BASE_URL + "/getOpinionSources/",
        data: {
          sourcesId: this.cusSource
        }
      }).then(response => {
        this.sourceListArr = response.data;
      });
    },
    getNews() {
      this.notFound = false;
      this.$http({
        method: "post",
        url: process.env.VUE_APP_BASE_URL + "/getOpinions/",
        data: {
          sources: this.cusSource,
          lang: "english"
        },
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": true
        }
      }).then(response => {
        if (response.data.length > 0) {
          this.isSingleSource = false;
          this.isCategory = false;
          this.isDateNews = false;
          this.isCustomize = true;
          this.allowScroll = true;
          this.isLoadMore = false;
          this.isNoNews = false;
          this.newsArr = [];
          this.newsArr = response.data;
          this.lastId = response.data[response.data.length - 1].id;
          this.scroll();
        } else {
          this.newsArr = [];
          this.allowScroll = false;
          this.isNoNews = false;
          this.notFound = true;
          this.notFoundMsg =
            "There are no news based on your Sources Please add some sources or reset";
        }
      });
    },
    getNewsMore() {
      this.$http({
        method: "post",
        url: process.env.VUE_APP_BASE_URL + "/getOpinionsMore/",
        data: {
          sources: this.cusSource,
          lastId: this.lastId,
          lang: "english"
        },
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": true
        }
      }).then(response => {
        if (response.data.length > 0) {
          response.data.map(val => {
            this.allowScroll = true;
            if (!this.newsArr.some(news => news.id === val.id)) {
              this.isLoadMore = false;
              this.newsArr.push(val);
              this.lastId = val.id;
            }
          });
        } else {
          this.isLoadMore = false;
        }
      });
    },
    getDateNews() {
      this.notFound = false;
      this.isNoNews = true;
      this.$http({
        method: "post",
        url: process.env.VUE_APP_BASE_URL + "/getSourcesNews_Dated/",
        data: {
          sources: this.cusSource,
          startDate: this.startDate,
          endDate: this.endDate
        },
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": true
        }
      }).then(response => {
        this.newsArr = [];
        if (response.data.rows.length > 0) {
          this.isDateNews = true;
          this.isCustomize = false;
          this.allowScroll = true;
          this.isLoadMore = false;
          this.isNoNews = false;
          // this.dateCount = response.data.newsCount[0].count;
          this.newsArr = [];
          this.newsArr = response.data.rows;
          this.lastId = response.data.rows[response.data.length - 1].id;
          this.scroll();
        } else {
          this.newsArr = [];
          this.isNoNews = false;
          this.notFound = true;
          this.notFoundMsg =
            "There are no news based on your date Please select another date or reset the date";
        }
      });
    },
    getDateNewsMore() {
      this.$http({
        method: "post",
        url: process.env.VUE_APP_BASE_URL + "/getSourcesNews_Dated_more/",
        data: {
          sources: this.cusSource,
          startDate: this.startDate,
          endDate: this.endDate,
          lastId: this.lastId
        },
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": true
        }
      }).then(response => {
        this.allowScroll = true;
        response.data.map(val => {
          if (!this.newsArr.some(news => news.id === val.id)) {
            this.isLoadMore = false;
            this.newsArr.push(val);
            this.lastId = val.id;
          }
        });
      });
    },
    removeDate() {
      this.showDate = false;
      this.getNews();
    },
    addArchive(id) {
      if (localStorage.getItem("opinionArchive")) {
        this.archiveArr = JSON.parse(localStorage.getItem("opinionArchive"));
      }
      if (!this.archiveArr.some(archive_id => archive_id == id)) {
        this.archiveArr.push(id);
        localStorage.setItem("opinionArchive", JSON.stringify(this.archiveArr));
        this.snackbarColor = "success";
        this.snackbar = true;
        this.snackbarMsg = "Opinion has been archived successfully";
      } else {
        this.snackbarColor = "danger";
        this.snackbar = true;
        this.snackbarMsg = "This opinion already exists in archived";
      }
    },
    getTrending() {
      this.$http({
        method: "post",
        url: process.env.VUE_APP_BASE_URL + "/getTrending_sourcesNews/",
        data: {
          sources: this.cusSource
        }
      }).then(response => {
        this.newsArr = [];
        this.isNoNews = false;
        this.allowScroll = false;
        this.isLoadMore = false;
        this.newsArr = response.data;
      });
    },
    getArchive() {
      if (this.archiveArr.length > 0) {
        this.$http({
          method: "post",
          url: process.env.VUE_APP_BASE_URL + "/get_archiveNews/",
          data: {
            newsId: this.archiveArr
          }
        }).then(response => {
          this.newsArr = [];
          this.isNoNews = false;
          this.allowScroll = false;
          this.isLoadMore = false;
          this.newsArr = response.data;
        });
      } else {
        this.newsArr = [];
        this.isNoNews = false;
        this.allowScroll = false;
        this.isLoadMore = false;
        this.notFound = true;
        this.notFoundMsg =
          "No Archive found Please add some archive from the News page";
      }
    },
    deleteArchive(id) {
      this.archiveArr = this.archiveArr.filter(e => e !== id);
      localStorage.setItem("archive", JSON.stringify(this.archiveArr));
      this.snackbarColor = "success";
      this.snackbar = true;
      this.snackbarMsg = "News has been deleted successfully from archives";
      this.getArchive();
    },
    setLocale(locale) {
      this.$i18n.locale = locale;
      this.$router.push({
        params: { lang: locale }
      });
    },
    gotoOpinion() {
      this.homepage = true;
      this.aboutpage = false;
      this.contactpage = false;
      this.archivepage = false;
      // let lng = this.$i18n.locale;
      // this.$router.push({ path: `/${lng}/opinion/` });
    },
    gotoHome() {
      let lng = this.$i18n.locale;
      this.$router.push({ path: `/${lng}/` });
    },
    gotoAbout() {
      this.showCategory = false;
      this.aboutpage = true;
      this.homepage = false;
      this.contactpage = false;
      this.archivepage = false;
      this.notFound = false;
      this.trendingpage = false;
    },
    gotoTrending() {
      this.isSingleSource = false;
      this.showCategory = false;
      this.newsArr = [];
      this.allowScroll = false;
      this.showDate = false;
      this.isNoNews = true;
      this.trendingpage = true;
      this.showCategory = false;
      this.aboutpage = false;
      this.homepage = false;
      this.contactpage = false;
      this.archivepage = false;
      this.notFound = false;
      this.getTrending();
    },
    gotoContact() {
      this.showCategory = false;
      this.contactpage = true;
      this.aboutpage = false;
      this.homepage = false;
      this.archivepage = false;
      this.notFound = false;
      this.trendingpage = false;
    },
    gotoArchive() {
      let lng = this.$i18n.locale;
      this.$router.push({ path: `/${lng}/archive` });
      // this.isSingleSource = false;
      // this.showCategory = false;
      // this.newsArr = [];
      // this.allowScroll = false;
      // this.showDate = false;
      // this.isNoNews = true;
      // this.archivepage = true;
      // this.contactpage = false;
      // this.aboutpage = false;
      // this.homepage = false;
      // this.notFound = false;
      // this.trendingpage = false;
      // this.getArchive();
    },
    newsDetails(id) {
      let lng = this.$i18n.locale;
      this.$router.push({ path: `/${lng}/news-detail/${id}` });
    },
    search(input) {
      if (input.length < 1) {
        this.isSearchType = false;
        return [];
      } else {
        this.isSearchType = true;
        this.$http({
          method: "get",
          url: `${process.env.VUE_APP_BASE_URL}/searchNews/${input}`
        }).then(response => {
          this.searchArr = [];
          this.isSearchType = false;
          response.data.news.map(val => {
            this.searchArr.push({
              id: val.id,
              title: val.title
            });
          });
        });
      }
      return this.searchArr.filter(news => {
        return news.title;
      });
    },
    getResultValue(result) {
      return result.title;
    },

    // Open the selected article in
    // a new window
    handleSubmit(result) {
      window.open(
        `https://newshunt.io/#/en/news-detail/${encodeURI(result.id)}`
      );
    },
    openSummary(text) {
      this.summarySheet = true;
      this.summaryText = `<span style="color: red">Under Development</span>`;
      // if (text.length != 0) {
      //   text = text.replace(/(\\n|\\t|\\|"|')/gm, "");
      //   this.summaryText = text;
      // } else this.summaryText = `<span style="color: red">No Text found</span>`;
    },
    openSentiment(text) {
      this.sentimentSheet = true;
      this.sentimentText = `<span style="color: red">Under Development</span>`;
      // if ((text != null) | (text != "")) {
      //   text = text.replace(/(\\n|\\t|\\|"|')/gm, "");
      //   this.sentimentText = text;
      // } else
      //   this.sentimentText = `<span style="color: red">No Text found</span>`;
    },
    openDeep(text) {
      this.deepSheet = true;
      this.deepText = `<span style="color: red">Under Development</span>`;
      // if (text != null) {
      //   text = text.replace(/(\\n|\\t|\\|"|')/gm, "");
      //   this.deepText = text;
      // } else this.deepText = `<span style="color: red">No Text found</span>`;
    },
    addRegion(id) {
      if (localStorage.getItem("region")) {
        this.cusRegion = JSON.parse(localStorage.getItem("region"));
      }
      if (this.cusRegion == "" || this.cusRegion == null) {
        let arr = [];
        arr.push(id);
        this.cusRegion = arr;
        localStorage.setItem("region", JSON.stringify(this.cusRegion));
      } else {
        this.cusRegion.push(id);
        localStorage.setItem("region", JSON.stringify(this.cusRegion));
      }
      this.getCountry();
    },
    removeRegion(id) {
      this.countryArr = "";
      this.cusRegion = this.cusRegion.filter(e => Number(e) !== id);
      localStorage.setItem("region", JSON.stringify(this.cusRegion));
      this.getCountry();
    },
    addCountry(id) {
      if (localStorage.getItem("country")) {
        this.cusCountry = JSON.parse(localStorage.getItem("country"));
      }
      if (this.cusCountry == "" || this.cusCountry == null) {
        let arr = [];
        arr.push(id);
        this.cusCountry = arr;
        localStorage.setItem("country", JSON.stringify(this.cusCountry));
      } else {
        this.cusCountry.push(id);
        localStorage.setItem("country", JSON.stringify(this.cusCountry));
      }
      this.getAllSources();
    },
    removeCountry(id) {
      this.sourceArr = "";
      this.cusCountry = this.cusCountry.filter(e => Number(e) !== id);
      localStorage.setItem("country", JSON.stringify(this.cusCountry));
      this.getAllSources();
    },
    addSource(id) {
      if (localStorage.getItem("source")) {
        this.cusSource = JSON.parse(localStorage.getItem("source"));
      }
      if (this.cusSource == "" || this.cusSource == null) {
        let arr = [];
        arr.push(id);
        this.cusSource = arr;
        this.cusSource = [...new Set(this.cusSource)];
        localStorage.setItem("source", JSON.stringify(this.cusSource));
      } else {
        let existingSource = JSON.parse(localStorage.getItem("source"));
        this.cusSource.map(val => {
          if (existingSource.some(e => e == id)) {
          } else existingSource.push(Number(id));
        });
        this.cusSource = existingSource;
        this.cusSource = [...new Set(this.cusSource)];
        localStorage.setItem("source", JSON.stringify(this.cusSource));
      }
      this.getAllSources();
    },
    removeSource(id) {
      this.cusSource = this.cusSource.filter(e => Number(e) !== id);
      this.cusSource = [...new Set(this.cusSource)];
      localStorage.setItem("source", JSON.stringify(this.cusSource));
    },
    resetDate() {
      this.date = "";
    },
    applyCustomization() {
      this.customizeDialog = false;
      this.getCountrySources();
      this.getSourcesList();
    },
    resetCustomization() {
      this.cusRegion = "";
      this.cusCountry = "";
      this.cusSource = "";
      this.countryArr = [];
      this.sourceArr = [];
      if (localStorage.getItem("region")) {
        localStorage.removeItem("region");
      }
      if (localStorage.getItem("source")) {
        localStorage.removeItem("source");
      }
      if (localStorage.getItem("country")) {
        localStorage.removeItem("country");
      }
      this.getAllRegions();
      this.getCountrySources();
      this.customizeDialog = false;
    },
    addSourceFilter(id) {
      if (localStorage.getItem("source")) {
        this.cusSource = JSON.parse(localStorage.getItem("source"));
      }
      if (this.cusSource == "") {
        let arr = [];
        arr.push(id);
        this.cusSource = arr;
        this.cusSource = [...new Set(this.cusSource)];
        localStorage.setItem("source", JSON.stringify(this.cusSource));
      } else {
        this.cusSource = [...new Set(this.cusSource)];
        this.cusSource.push(id);
        localStorage.setItem("source", JSON.stringify(this.cusSource));
      }
    },
    removeSourceFilter(id) {
      this.cusSource = this.cusSource.filter(e => Number(e) !== id);
      this.cusSource = [...new Set(this.cusSource)];
      localStorage.setItem("source", JSON.stringify(this.cusSource));
    }
  },
  watch: {
    customizeDialog(val) {
      if (val) {
        if (localStorage.getItem("region")) {
          this.cusRegion = JSON.parse(localStorage.getItem("region"));
        }
        if (localStorage.getItem("country")) {
          this.cusCountry = JSON.parse(localStorage.getItem("country"));
        }
        if (localStorage.getItem("region")) {
          this.cusSource = JSON.parse(localStorage.getItem("source"));
        }
        this.getCustomization();
      }
    },
    date(date) {
      if (date != "" || date != null) {
        this.newsArr = [];
        this.showDate = true;
        this.startDate = moment(date, "YYYY-MM-DD")
          .format()
          .substring(0, 10);
        this.endDate = moment(date, "YYYY-MM-DD")
          .add(1, "days")
          .format()
          .substring(0, 10);
        if (this.homepage && this.isCategory) {
        } else if (this.homepage) {
          this.getDateNews();
        } else if (this.archivepage) {
          this.getArchiveDateNews();
        }
      }
    }
  },
  filters: {
    timeAgo(time) {
      return moment(time).fromNow();
    }
  },
  props: {
    source: String
  },
  components: {
    Sidebar,
    datePicker,
    Facebook,
    Twitter,
    Linkedin,
    Pinterest,
    Reddit,
    Telegram,
    WhatsApp,
    Email,
    Google
  }
};
</script>

<style scoped>
.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}
* {
  /* font-family: 'Merriweather', serif; */
  /* font-family: "Public Sans", sans-serif; */
  font-family: "Ubuntu", sans-serif;
  /* font-family: "Muli", sans-serif; */
  /* font-family: 'Lato', sans-serif; */
}
.leftx {
  padding: 0px !important;
  display: flex;
  flex-wrap: wrap;
}
.leftx li {
  padding: 0px 6px !important;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .news-section {
    display: block !important;
  }
  .news-img img {
    max-height: 100% !important;
    height: 100% !important;
    width: 100% !important;
  }
  .sentiment {
    display: flex !important;
    padding: 10px;
  }
  .nlp-tags-pos {
    line-height: inherit !important;
  }
  .nlp-tags-neg {
    line-height: inherit !important;
  }
  .nlp-tags-neu {
    line-height: inherit !important;
  }
}
.news-img img {
  max-height: 172px;
}
.tran-urdu {
  height: 40px !important;
}
.share_icon {
  color: #7f7e7e;
  cursor: pointer;
  font-size: large;
  padding: 0px 4px;
}
.share_icon:hover {
  color: #1976d2 !important;
}
.share-news-head {
  display: flex;
  justify-content: space-between;
}
.news-head {
  display: flex;
  justify-content: space-between;
}
.news-bottom {
  display: flex;
  justify-content: space-between;
}
.news-description {
  margin-bottom: 8px !important;
}
.news-title {
  font-size: large;
  text-decoration: none;
  color: #222 !important;
}
.news-title:hover {
  color: #0056b3 !important;
}
/* .customize-icon {
  position: absolute;
  bottom: 3px;
  left: 16px;
} */
.customize-icon i {
  cursor: pointer;
  padding-top: 12px;
  color: #fff;
  font-size: 26px !important;
}
.close-sidebar {
  color: #fff;
  cursor: pointer;
}
.source-chip-unselect {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 28px;
  font-weight: bold;
  cursor: default;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 32px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 12px 0px 12px;
  margin: 4px;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 1;
  background: #e0e0e0;
}
.source-chip {
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 28px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 32px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 12px 0px 12px;
  margin: 4px;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 1;
  background: #e0e0e0;
}
.source-chip-unselect i {
  cursor: pointer;
  background: #fff;
  margin-left: 5px;
  border-radius: 50px;
  font-weight: bold;
  font-size: medium;
  padding: 2px 4px;
}
/* .nlp-tags {
  border: 2px solid #e8e8e8;
  color: #000;
  background: #fff !important;
  height: 26px !important;
} */

.date-remove {
  cursor: pointer;
}
.date-remove:hover {
  color: #1976d2;
}
.datetimepicker-inline {
  background: #ffffff6e;
  margin: 16px 4px;
  border-radius: 5px;
}
.sentiment {
  display: grid;
  /* max-height: 150px; */
}
.nlp-tag {
  /* background: #e2e4e5; */
  border-radius: 20px;
  padding: 3px 12px;
  font-size: 12px;
  border: 1px solid #e2e4e5;
  margin: 0px 4px;
  cursor: pointer;
  max-height: 26px;
}
.nlp-tags-pos {
  min-width: 40px;
  color: #28a745;
  padding: 0px 6px;
  line-height: 50px;
  border: 1px solid;
  text-align: center;
}
.nlp-tags-neg {
  min-width: 40px;
  color: #dc3545;
  padding: 0px 6px;
  line-height: 50px;
  border: 1px solid;
  text-align: center;
}
.nlp-tags-neu {
  min-width: 40px;
  color: #ffc107;
  padding: 0px 6px;
  line-height: 50px;
  border: 1px solid;
  text-align: center;
}
.news-img img {
  height: 100%;
  width: 200px;
}
.page-head-style {
  box-shadow: 0px -3px 0px -3px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  text-decoration: none;
  background: white;
  padding: 14px;
  text-align: left;
  border-left: 6px solid #1976d2;
  border-radius: 2px 0px 0px 2px;
}
/* summary styles  */
#social-icon {
  display: flex !important;
  padding-left: 0px;
}
.share-article-social {
  display: flex;
}
#social-icon li {
  list-style: none;
  line-height: 1.6em;
}
#social-icon li:hover {
  cursor: pointer;
}
.social-link {
  color: #fff !important;
  padding: 0 !important;
  font-size: 0.9em;
  border-radius: 20px;
  margin: 0 0 20px 0;
  display: inline-block;
}
.facebook-social-link {
  background: #4267b2;
}
.fb-small-image {
  width: 27px;
  margin: 2px;
  height: 27px;
  vertical-align: middle;
}
.social-link span {
  display: inline-block;
  position: relative;
  padding: 2px 10px 4px 5px;
}

@media screen and (max-width: 900px) {
  .w3-modal-content {
    width: auto !important;
    margin: 0px 16px !important;
  }
}

@media screen and (max-width: 600px) {
  .social-link {
    min-width: 31px !important;
  }
  .export-btn-text {
    display: none !important;
  }
}

/* right sidebar style  */
.sources_list {
  padding-left: 0px !important;
}
.sources_list li {
  list-style: none;
}
.sources_list img {
  width: 40px;
  height: 40px;
  margin: 4px;
}

/*news scroll*/
.right-sidebar {
  overflow: auto !important;
}
.right-sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.right-sidebar::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.right-sidebar::-webkit-scrollbar-thumb {
  background-color: #cdcddd;
}

.right-sidebar {
  width: 58px !important;
}
.news-section {
  display: flex;
}
.news-details span {
  color: #000;
}
/* .news-details a {
  color: #000;
  text-decoration: none;
} */
.news-details p {
  color: #000;
}
.news-details {
  width: 100%;
  padding: 12px;
  text-align: left;
}
.news-source-small-img {
  width: 20px;
  height: 20px;
}
.news-source {
  padding-left: 8px;
  font-size: 12px;
  color: #0000008c !important;
}

.news-time {
  font-size: 12px;
  color: #0000008c !important;
}

.contact_us * {
  color: #000;
}
.contact_us .btn {
  color: #fff !important;
}
.model_text_style {
  max-height: 200px;
  overflow: auto;
  padding: 16px;
  border-radius: 5px;
  border: 1px solid rgb(206, 212, 218);
  text-align: left;
}
.v-navigation-drawer--fixed {
  z-index: 100 !important;
}
.v-btn .v-btn__content .v-icon {
  color: #000 !important;
}

main {
  padding: 0px 58px 0px 210px !important;
}
.nav-custom {
  margin: 16px 58px 16px 210px;
  height: 53px;
}
@media only screen and (max-width: 1264px) {
  .nav-custom {
    margin: 16px 56px 16px 0px;
  }
  main {
    padding: 16px 56px 16px 0px !important;
  }
}

@media only screen and (max-width: 600px) {
  .nav-custom {
    margin: 16px 0px 16px 0px;
  }
  main {
    padding: 16px 0px 16px 0px !important;
  }
}

.show_news_btn {
  position: fixed !important;
  top: 50% !important;
  right: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  /* z-index: 50000 !important; */
  margin-right: 0px !important;
  width: 40px !important;
}

.dialog-source {
  background: #1976d2;
  width: auto;
  color: #fff;
  padding-bottom: 8px;
}

.dialog-source i {
  font-size: 18px;
  padding: 16px;
}

.dialog-source i:hover {
  cursor: pointer;
  background-color: #009688 !important;
  border-color: #009688 !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.dialog-overall {
  background: #009688;
  width: auto;
  color: #fff;
  padding-bottom: 8px;
}

.dialog-overall i {
  font-size: 18px;
  padding: 16px;
}

.dialog-overall i:hover {
  cursor: pointer;
  background-color: #1976d2 !important;
  border-color: #1976d2 !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.info {
  min-width: 0 !important;
  height: 40px !important;
  width: 40px !important;
  padding: 0 !important;
  z-index: 1000 !important;
}

.v-tabs__bar {
  background: #fafafa !important;
}

.loading-area {
  background: white;
  padding: 16px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  text-decoration: none;
}

@-webkit-keyframes swing {
  0%,
  30%,
  50%,
  70%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}

@keyframes swing {
  0%,
  30%,
  50%,
  70%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}

@-webkit-keyframes sonar {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes sonar {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

.sidebar-wrapper {
  width: 210px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -280px;
  z-index: 999;
  -webkit-transition: left 0.3s ease, width 0.3s ease;
  transition: left 0.3s ease, width 0.3s ease;
}
.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar-wrapper a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.sidebar-wrapper .sidebar-item {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.sidebar-wrapper .sidebar-content {
  max-height: calc(100% -35px);
  height: calc(100% - 35px);
  position: relative;
}
.sidebar-wrapper .sidebar-content.desktop {
  overflow-y: hidden;
}
.sidebar-wrapper .badge {
  border-radius: 0;
}

.sidebar-bg .sidebar-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar-bg .sidebar-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sidebar-wrapper .sidebar-brand {
  padding: 1rem 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 55px;
}
.sidebar-wrapper .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}
.sidebar-wrapper .sidebar-header .user-pic {
  width: 60px;
  padding: 2px;
  margin-right: 15px;
  overflow: hidden;
}
.sidebar-wrapper .sidebar-header .user-pic img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.sidebar-wrapper .sidebar-header .user-info {
  overflow: hidden;
}
.sidebar-wrapper .sidebar-header .user-info > span {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}
.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}
.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

.sidebar-wrapper .sidebar-search > div {
  padding: 1rem 1.2rem;
}

.sidebar-wrapper .sidebar-search input {
  border-radius: 0;
}

.sidebar-wrapper .sidebar-search .input-group {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.sidebar-wrapper .sidebar-search .input-group-append .input-group-text {
  border-radius: 0;
  border-left: 0;
}

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}
.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}
.sidebar-wrapper .sidebar-menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
  width: 100%;
}
.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  -webkit-animation: swing ease-in-out 0.5s 1 alternate;
  animation: swing ease-in-out 0.5s 1 alternate;
}
.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.sidebar-wrapper .sidebar-menu ul li a .menu-text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  overflow: hidden;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu {
  display: none;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  margin-left: auto;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 15px;
}

.sidebar-wrapper .sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar-wrapper .sidebar-footer > div {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  height: 35px;
  line-height: 35px;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar-wrapper .sidebar-footer > div > a {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.sidebar-wrapper .sidebar-footer > div a .notification {
  position: absolute;
  top: 0;
}
.sidebar-wrapper .sidebar-footer > div.pinned-footer {
  display: none;
}
.sidebar-wrapper .sidebar-footer .dropdown-menu {
  bottom: 36px;
  left: 0 !important;
  top: initial !important;
  right: 0;
  -webkit-transform: none !important;
  transform: none !important;
  border-radius: 0;
  font-size: 0.9rem;
}
.sidebar-wrapper .sidebar-footer .messages .dropdown-item {
  padding: 0.25rem 1rem;
}
.sidebar-wrapper .sidebar-footer .messages .messages-header {
  padding: 0 1rem;
}
.sidebar-wrapper .sidebar-footer .messages .message-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar-wrapper .sidebar-footer .messages .message-content .pic {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.sidebar-wrapper .sidebar-footer .messages .message-content .pic img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}
.sidebar-wrapper .sidebar-footer .messages .message-content .content {
  line-height: 1.6;
  padding-left: 5px;
  width: calc(100% - 40px);
}
.sidebar-wrapper
  .sidebar-footer
  .messages
  .message-content
  .content
  .message-title {
  font-size: 13px;
}
.sidebar-wrapper
  .sidebar-footer
  .messages
  .message-content
  .content
  .message-detail {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar-wrapper .sidebar-footer .notifications .dropdown-item {
  padding: 0.25rem 1rem;
}
.sidebar-wrapper .sidebar-footer .notifications .notifications-header {
  padding: 0 1rem;
}
.sidebar-wrapper .sidebar-footer .notifications .notification-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar-wrapper .sidebar-footer .notifications .notification-content .icon {
  width: 40px;
  height: 40px;
}
.sidebar-wrapper .sidebar-footer .notifications .notification-content .icon i {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
.sidebar-wrapper .sidebar-footer .notifications .notification-content .content {
  line-height: 1.6;
  padding-left: 5px;
  width: calc(100% - 40px);
}
.sidebar-wrapper
  .sidebar-footer
  .notifications
  .notification-content
  .content
  .notification-time {
  font-size: 0.7rem;
  color: #828282;
}
.sidebar-wrapper
  .sidebar-footer
  .notifications
  .notification-content
  .content
  .notification-detail {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar-wrapper .sidebar-footer .badge-sonar {
  display: inline-block;
  background: #d86703;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}
.sidebar-wrapper .sidebar-footer .badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #d86703;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-animation: sonar 1.5s infinite;
  animation: sonar 1.5s infinite;
}

body {
  font-size: 0.9rem;
}

/*----------------page-wrapper----------------*/
.page-wrapper {
  height: 100vh;
}
.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 2px;
  background-size: cover;
}
.page-wrapper .theme.selected {
  border: 2px solid #00c7ff;
}
.page-wrapper .theme.default-theme {
  background: #1d1d1d;
}
.page-wrapper .theme.chiller-theme {
  background: #374140;
}
.page-wrapper .theme.legacy-theme {
  background: #2e333c;
}
.page-wrapper .theme.ice-theme {
  background: #3a4d56;
}
.page-wrapper .theme.cool-theme {
  background: #46454c;
}
.page-wrapper .theme.light-theme {
  background: #ececec;
}
.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  -webkit-transition: padding-left 0.3s ease;
  transition: padding-left 0.3s ease;
  overflow-x: hidden;
}
.page-wrapper .page-content .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background: #000;
  opacity: 0.5;
  display: none;
}
.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}
@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 280px;
  }
}
@media screen and (max-width: 768px) {
  .page-wrapper.toggled .page-content .overlay {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .page-wrapper.toggled.pinned .page-content {
    padding-left: 80px;
  }
}
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper {
  width: 80px;
}
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
  padding: 10px;
}
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-header
  .user-pic {
  margin: 0 auto;
  width: 50px;
  float: none;
}
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-header
  .user-pic
  img {
  margin: auto;
}
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-search
  input,
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-header
  .user-info,
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-menu
  .header-menu,
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-menu
  .sidebar-submenu,
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-menu
  ul
  > li
  > a
  > span,
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-menu
  ul
  > li
  > a::after,
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-footer
  > div:not(.pinned-footer) {
  display: none !important;
}
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-search
  .input-group-text {
  height: 35px;
}
.page-wrapper.pinned:not(.sidebar-hovered)
  .sidebar-wrapper
  .sidebar-footer
  > div.pinned-footer {
  display: block;
}
.page-wrapper .mCSB_scrollTools {
  width: 6px;
}
.page-wrapper .mCSB_inside > .mCSB_container {
  margin-right: 0px;
}

/*---- border-radius ------*/
.boder-radius-on .sidebar-header .user-pic {
  border-radius: 12px;
}

.boder-radius-on .badge {
  border-radius: 8px;
}

.boder-radius-on .sidebar-menu ul li i {
  border-radius: 4px;
}

.boder-radius-on .sidebar-footer .dropdown-menu {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.boder-radius-on .sidebar-footer .dropdown-menu .notification-content i,
.boder-radius-on .sidebar-footer .dropdown-menu .message-content .pic {
  border-radius: 4px;
}

.boder-radius-on .sidebar-search input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.boder-radius-on .sidebar-search .input-group-append .input-group-text {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* sidebar theme  */
.default-theme .sidebar-wrapper {
  background-color: #1d1d1d;
}
.default-theme .sidebar-wrapper .sidebar-item {
  border-top: 1px solid #2b2b2b;
}
.default-theme .sidebar-wrapper .sidebar-item:first-child {
  border-top: none;
}
.default-theme .sidebar-wrapper a:not(.dropdown-item),
.default-theme .sidebar-wrapper .sidebar-header,
.default-theme .sidebar-wrapper .sidebar-search input,
.default-theme .sidebar-wrapper .sidebar-search i {
  color: #adadad;
}
.default-theme .sidebar-wrapper a:not(.dropdown-item):hover,
.default-theme .sidebar-wrapper .sidebar-menu li.active > a {
  color: #d8d8d8;
}
.default-theme .sidebar-wrapper .sidebar-search input.search-menu,
.default-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: #2b2b2b;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-left: 1px;
}
.default-theme .sidebar-wrapper .sidebar-menu a:hover i,
.default-theme .sidebar-wrapper .sidebar-menu a:hover:before,
.default-theme .sidebar-wrapper .sidebar-menu li.active a i {
  color: #22ff16;
}
.default-theme .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: #2b2b2b;
}
.default-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: #2b2b2b;
}
.default-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #868686;
}
.default-theme .sidebar-wrapper .sidebar-footer {
  background-color: #2b2b2b;
  -webkit-box-shadow: 0px -1px 5px #1d1d1d;
  box-shadow: 0px -1px 5px #1d1d1d;
  border-top: 1px solid #2b2b2b;
}
.default-theme .sidebar-wrapper .sidebar-footer > div:first-child {
  border-left: none;
}
.default-theme .sidebar-wrapper .sidebar-footer > div:last-child {
  border-right: none;
}

.default-theme.toggled #close-sidebar {
  color: #adadad;
}

.default-theme.toggled #close-sidebar:hover {
  color: #d8d8d8;
}

.default-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.default-theme
  .mCSB_scrollTools
  .mCSB_dragger.mCSB_dragger_onDrag
  .mCSB_dragger_bar,
.default-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #525965;
  border-radius: 0;
}

.default-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

.default-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(42, 42, 42, 0.9);
}

.default-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #c7c7c7;
}

.default-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #f2f2f2;
}

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #454545;
}

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(81, 81, 81, 0.5);
}

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(81, 81, 81, 0.5);
}

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(81, 81, 81, 0.5);
}

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(56, 56, 56, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(29, 29, 29, 0.8);
  box-shadow: 0px -1px 5px rgba(29, 29, 29, 0.8);
  border-top: 1px solid #383838;
}

.chiller-theme .sidebar-wrapper {
  background-color: #2a2c2b;
}
.chiller-theme .sidebar-wrapper .sidebar-item {
  border-top: 1px solid #374140;
}
.chiller-theme .sidebar-wrapper .sidebar-item:first-child {
  border-top: none;
}
.chiller-theme .sidebar-wrapper a:not(.dropdown-item),
.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search input,
.chiller-theme .sidebar-wrapper .sidebar-search i {
  color: #d9cb9e;
}
.chiller-theme .sidebar-wrapper a:not(.dropdown-item):hover,
.chiller-theme .sidebar-wrapper .sidebar-menu li.active > a {
  color: #ffe79a;
}
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: #374140;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-left: 1px;
}
.chiller-theme .sidebar-wrapper .sidebar-menu a:hover i,
.chiller-theme .sidebar-wrapper .sidebar-menu a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-menu li.active a i {
  color: #ffbe00;
}
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: #374140;
}
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: #374140;
}
.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #a29464;
}
.chiller-theme .sidebar-wrapper .sidebar-footer {
  background-color: #374140;
  -webkit-box-shadow: 0px -1px 5px #2a2c2b;
  box-shadow: 0px -1px 5px #2a2c2b;
  border-top: 1px solid #374140;
}
.chiller-theme .sidebar-wrapper .sidebar-footer > div:first-child {
  border-left: none;
}
.chiller-theme .sidebar-wrapper .sidebar-footer > div:last-child {
  border-right: none;
}

.chiller-theme.toggled #close-sidebar {
  color: #d9cb9e;
}

.chiller-theme.toggled #close-sidebar:hover {
  color: #ffe79a;
}

.chiller-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.chiller-theme
  .mCSB_scrollTools
  .mCSB_dragger.mCSB_dragger_onDrag
  .mCSB_dragger_bar,
.chiller-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #525965;
  border-radius: 0;
}

.chiller-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

.chiller-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(54, 57, 56, 0.9);
}

.chiller-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #e7dfc3;
}

.chiller-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #fff3cd;
}

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #4e5d5b;
}

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(90, 106, 105, 0.5);
}

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(90, 106, 105, 0.5);
}

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(90, 106, 105, 0.5);
}

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(67, 79, 78, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(42, 44, 43, 0.8);
  box-shadow: 0px -1px 5px rgba(42, 44, 43, 0.8);
  border-top: 1px solid #434f4e;
}

.legacy-theme .sidebar-wrapper {
  background-color: #1e2229;
}
.legacy-theme .sidebar-wrapper .sidebar-item {
  border-top: 1px solid #2e333c;
}
.legacy-theme .sidebar-wrapper .sidebar-item:first-child {
  border-top: none;
}
.legacy-theme .sidebar-wrapper a:not(.dropdown-item),
.legacy-theme .sidebar-wrapper .sidebar-header,
.legacy-theme .sidebar-wrapper .sidebar-search input,
.legacy-theme .sidebar-wrapper .sidebar-search i {
  color: #818896;
}
.legacy-theme .sidebar-wrapper a:not(.dropdown-item):hover,
.legacy-theme .sidebar-wrapper .sidebar-menu li.active > a {
  color: #b8bfce;
}
.legacy-theme .sidebar-wrapper .sidebar-search input.search-menu,
.legacy-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: #2e333c;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-left: 1px;
}
.legacy-theme .sidebar-wrapper .sidebar-menu a:hover i,
.legacy-theme .sidebar-wrapper .sidebar-menu a:hover:before,
.legacy-theme .sidebar-wrapper .sidebar-menu li.active a i {
  color: #16c7ff;
}
.legacy-theme .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: #2e333c;
}
.legacy-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: #2e333c;
}
.legacy-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #646e80;
}
.legacy-theme .sidebar-wrapper .sidebar-footer {
  background-color: #22262d;
  -webkit-box-shadow: 0px -1px 5px #16191f;
  box-shadow: 0px -1px 5px #16191f;
  border-top: 1px solid #2e333c;
}
.legacy-theme .sidebar-wrapper .sidebar-footer > div:first-child {
  border-left: none;
}
.legacy-theme .sidebar-wrapper .sidebar-footer > div:last-child {
  border-right: none;
}

.legacy-theme.toggled #close-sidebar {
  color: #818896;
}

.legacy-theme.toggled #close-sidebar:hover {
  color: #b8bfce;
}

.legacy-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.legacy-theme
  .mCSB_scrollTools
  .mCSB_dragger.mCSB_dragger_onDrag
  .mCSB_dragger_bar,
.legacy-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #525965;
  border-radius: 0;
}

.legacy-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

.legacy-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(41, 46, 56, 0.9);
}

.legacy-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #9da2ad;
}

.legacy-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #d6dae3;
}

.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #444c59;
}

.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(79, 88, 103, 0.5);
}

.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(79, 88, 103, 0.5);
}

.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(79, 88, 103, 0.5);
}

.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(45, 50, 60, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(22, 25, 31, 0.8);
  box-shadow: 0px -1px 5px rgba(22, 25, 31, 0.8);
  border-top: 1px solid #393f4a;
}

.cool-theme .sidebar-wrapper {
  background-color: #38373d;
}
.cool-theme .sidebar-wrapper .sidebar-item {
  border-top: 1px solid #46454c;
}
.cool-theme .sidebar-wrapper .sidebar-item:first-child {
  border-top: none;
}
.cool-theme .sidebar-wrapper a:not(.dropdown-item),
.cool-theme .sidebar-wrapper .sidebar-header,
.cool-theme .sidebar-wrapper .sidebar-search input,
.cool-theme .sidebar-wrapper .sidebar-search i {
  color: #918f9e;
}
.cool-theme .sidebar-wrapper a:not(.dropdown-item):hover,
.cool-theme .sidebar-wrapper .sidebar-menu li.active > a {
  color: #b3b8c1;
}
.cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: #46454c;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-left: 1px;
}
.cool-theme .sidebar-wrapper .sidebar-menu a:hover i,
.cool-theme .sidebar-wrapper .sidebar-menu a:hover:before,
.cool-theme .sidebar-wrapper .sidebar-menu li.active a i {
  color: #fe6fff;
}
.cool-theme .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: #46454c;
}
.cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: #46454c;
}
.cool-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #747479;
}
.cool-theme .sidebar-wrapper .sidebar-footer {
  background-color: #414046;
  -webkit-box-shadow: 0px -1px 5px #2a292d;
  box-shadow: 0px -1px 5px #2a292d;
  border-top: 1px solid #46454c;
}
.cool-theme .sidebar-wrapper .sidebar-footer > div:first-child {
  border-left: none;
}
.cool-theme .sidebar-wrapper .sidebar-footer > div:last-child {
  border-right: none;
}

.cool-theme.toggled #close-sidebar {
  color: #918f9e;
}

.cool-theme.toggled #close-sidebar:hover {
  color: #b3b8c1;
}

.cool-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.cool-theme
  .mCSB_scrollTools
  .mCSB_dragger.mCSB_dragger_onDrag
  .mCSB_dragger_bar,
.cool-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #918f9e;
  border-radius: 0;
}

.cool-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

.cool-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(68, 67, 74, 0.9);
}

.cool-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #acaab6;
}

.cool-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #cfd2d8;
}

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #5f5d67;
}

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(107, 105, 116, 0.5);
}

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(107, 105, 116, 0.5);
}

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(107, 105, 116, 0.5);
}

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(77, 76, 83, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(42, 41, 45, 0.8);
  box-shadow: 0px -1px 5px rgba(42, 41, 45, 0.8);
  border-top: 1px solid #525159;
}

.ice-theme .sidebar-wrapper {
  background-color: #2b3a42;
}
.ice-theme .sidebar-wrapper .sidebar-item {
  border-top: 1px solid #3a4d56;
}
.ice-theme .sidebar-wrapper .sidebar-item:first-child {
  border-top: none;
}
.ice-theme .sidebar-wrapper a:not(.dropdown-item),
.ice-theme .sidebar-wrapper .sidebar-header,
.ice-theme .sidebar-wrapper .sidebar-search input,
.ice-theme .sidebar-wrapper .sidebar-search i {
  color: #9eb7c3;
}
.ice-theme .sidebar-wrapper a:not(.dropdown-item):hover,
.ice-theme .sidebar-wrapper .sidebar-menu li.active > a {
  color: #efefef;
}
.ice-theme .sidebar-wrapper .sidebar-search input.search-menu,
.ice-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: #3a4d56;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-left: 1px;
}
.ice-theme .sidebar-wrapper .sidebar-menu a:hover i,
.ice-theme .sidebar-wrapper .sidebar-menu a:hover:before,
.ice-theme .sidebar-wrapper .sidebar-menu li.active a i {
  color: #38fbc7;
}
.ice-theme .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: #3a4d56;
}
.ice-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: #3a4d56;
}
.ice-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #6c7b88;
}
.ice-theme .sidebar-wrapper .sidebar-footer {
  background-color: #2f3f48;
  -webkit-box-shadow: 0px -1px 5px #2b3a42;
  box-shadow: 0px -1px 5px #2b3a42;
  border-top: 1px solid #3a4d56;
}
.ice-theme .sidebar-wrapper .sidebar-footer > div:first-child {
  border-left: none;
}
.ice-theme .sidebar-wrapper .sidebar-footer > div:last-child {
  border-right: none;
}

.ice-theme.toggled #close-sidebar {
  color: #9eb7c3;
}

.ice-theme.toggled #close-sidebar:hover {
  color: #efefef;
}

.ice-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.ice-theme
  .mCSB_scrollTools
  .mCSB_dragger.mCSB_dragger_onDrag
  .mCSB_dragger_bar,
.ice-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #8998a5;
  border-radius: 0;
}

.ice-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

.ice-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(53, 72, 81, 0.9);
}

.ice-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #beced6;
}

.ice-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: white;
}

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #4f6874;
}

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(89, 118, 132, 0.5);
}

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(89, 118, 132, 0.5);
}

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(89, 118, 132, 0.5);
}

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(57, 77, 87, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(43, 58, 66, 0.8);
  box-shadow: 0px -1px 5px rgba(43, 58, 66, 0.8);
  border-top: 1px solid #445b65;
}

.light-theme .sidebar-wrapper {
  background-color: #ececec;
}
.light-theme .sidebar-wrapper .sidebar-item {
  border-top: 1px solid #f9f9f9;
}
.light-theme .sidebar-wrapper .sidebar-item:first-child {
  border-top: none;
}
.light-theme .sidebar-wrapper a:not(.dropdown-item),
.light-theme .sidebar-wrapper .sidebar-header,
.light-theme .sidebar-wrapper .sidebar-search input,
.light-theme .sidebar-wrapper .sidebar-search i {
  color: #74726e;
}
.light-theme .sidebar-wrapper a:not(.dropdown-item):hover,
.light-theme .sidebar-wrapper .sidebar-menu li.active > a {
  color: #424242;
}
.light-theme .sidebar-wrapper .sidebar-search input.search-menu,
.light-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: #f9f9f9;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-left: 1px;
}
.light-theme .sidebar-wrapper .sidebar-menu a:hover i,
.light-theme .sidebar-wrapper .sidebar-menu a:hover:before,
.light-theme .sidebar-wrapper .sidebar-menu li.active a i {
  color: #00a9fd;
}
.light-theme .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: #f9f9f9;
}
.light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: #f9f9f9;
}
.light-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #6c7b88;
}
.light-theme .sidebar-wrapper .sidebar-footer {
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px -1px 5px #ececec;
  box-shadow: 0px -1px 5px #ececec;
  border-top: 1px solid #f9f9f9;
}
.light-theme .sidebar-wrapper .sidebar-footer > div:first-child {
  border-left: none;
}
.light-theme .sidebar-wrapper .sidebar-footer > div:last-child {
  border-right: none;
}

.light-theme.toggled #close-sidebar {
  color: #74726e;
}

.light-theme.toggled #close-sidebar:hover {
  color: #424242;
}

.light-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.light-theme
  .mCSB_scrollTools
  .mCSB_dragger.mCSB_dragger_onDrag
  .mCSB_dragger_bar,
.light-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #a4a29e;
  border-radius: 0;
}

.light-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

.light-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(249, 249, 249, 0.9);
}

.light-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #8e8c87;
}

.light-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #5c5c5c;
}

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: white;
}

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(255, 255, 255, 0.5);
}

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(255, 255, 255, 0.5);
}

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(255, 255, 255, 0.5);
}

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(236, 236, 236, 0.8);
  box-shadow: 0px -1px 5px rgba(236, 236, 236, 0.8);
  border-top: 1px solid white;
}

/* skeleton loader code  */
.ph-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 15px 15px 15px;
  margin-bottom: 8px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}
.ph-item,
.ph-item *,
.ph-item ::after,
.ph-item ::before {
  box-sizing: border-box;
}
.ph-item::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  z-index: 1;
  width: 500%;
  margin-left: -250%;
  animation: phAnimation 0.8s linear infinite;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 46%,
      rgba(255, 255, 255, 0.35) 50%,
      rgba(255, 255, 255, 0) 54%
    )
    50% 50%;
}
.ph-item > * {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  padding-right: 15px;
  padding-left: 15px;
}
.ph-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7.5px;
}
.ph-row div {
  height: 10px;
  margin-bottom: 7.5px;
  background-color: #ced4da;
}
.ph-row .big,
.ph-row.big div {
  height: 20px;
  margin-bottom: 15px;
}
.ph-row .empty {
  background-color: rgba(255, 255, 255, 0);
}
.ph-col-2 {
  flex: 0 0 16.6666666667%;
}
.ph-col-4 {
  flex: 0 0 33.3333333333%;
}
.ph-col-6 {
  flex: 0 0 50%;
}
.ph-col-8 {
  flex: 0 0 66.6666666667%;
}
.ph-col-10 {
  flex: 0 0 83.3333333333%;
}
.ph-col-12 {
  flex: 0 0 100%;
}
.ph-avatar {
  position: relative;
  width: 100%;
  min-width: 60px;
  background-color: #ced4da;
  margin-bottom: 15px;
  border-radius: 50%;
  overflow: hidden;
}
.ph-avatar::before {
  content: " ";
  display: block;
  padding-top: 100%;
}
.ph-picture {
  width: 100%;
  height: 120px;
  background-color: #ced4da;
  margin-bottom: 15px;
}
.round {
  border-radius: 10px;
  min-height: 20px;
}
@keyframes phAnimation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}
.searchLoader {
  position: absolute !important;
  height: 25px !important;
  width: 25px !important;
  right: 15px !important;
  top: 13px !important;
  color: #c1c1c1 !important;
  caret-color: #c1c1c1 !important;
}
/* active class on sidebar  */
.activeClass {
  background: #e8e8e826;
  border-right: 2px solid #fafafa !important;
  border-left: none !important;
}
</style>

<style>
/* nlp css  */
.v-label {
  margin-bottom: 0px !important;
}
.v-input__slot {
  margin-bottom: -10px !important;
}
</style>