<template>
  <!-- customization dialog  -->
  <v-dialog v-model="customizeDialog" fullscreen hide-overlay transition="dialog-bottom-transition">
    <v-card>
      <v-toolbar dark color="primary">
        <v-btn icon dark @click="customizeDialog = false">
          <i class="fa fa-times" aria-hidden="true"></i>
        </v-btn>
        <v-toolbar-title>Customization</v-toolbar-title>
        <v-spacer></v-spacer>
        <button @click="resetCustomization()" type="button" class="btn btn-light">Reset</button>
        <button
          @click="applyCustomization()"
          style="margin-left: 4px"
          type="button"
          class="btn btn-light"
        >Save</button>
        <v-toolbar-items></v-toolbar-items>
      </v-toolbar>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <v-subheader>General Customization</v-subheader>
            <h5>Regions</h5>
            <span v-for="region in regionArr" :key="region">
              {{region}}
              <!-- <template v-if="cusRegion != null">
                <div v-if="cusRegion.includes(region.id)" class="source-chip-unselect">
                  <span>{{region.name}}</span>
                  <i @click="removeRegion(region.id)" class="fa fa-times"></i>
                </div>
                <div v-else @click="addRegion(region.id)" class="source-chip">
                  <span>{{region.name}}</span>
                </div>
              </template>
              <div v-else @click="addRegion(region.id)" class="source-chip">
                <span>{{region.name}}</span>
              </div>-->
            </span>

            <h5>Countries</h5>
            <span v-for="country in countryArr" :key="country">
              {{country}}
              <!-- <template v-if="defaultCountry != country.name & countryArr.length > 0">
                <template v-if="cusCountry != null">
                  <div v-if="cusCountry.includes(country.id)" class="source-chip-unselect">
                    <span>{{country.name}}</span>
                    <i @click="removeCountry(country.id)" class="fa fa-times"></i>
                  </div>
                  <div v-else @click="addCountry(country.id)" class="source-chip">
                    <span>{{country.name}}</span>
                  </div>
                </template>
                <div v-else @click="addCountry(country.id)" class="source-chip">
                  <span>{{country.name}}</span>
                </div>
              </template>-->
            </span>

            <h5>Sources</h5>
            <span v-for="source in sourceArr" :key="source">
              {{source}}
              <!--  <template v-if="!countrySourcesArrId.includes(source.id)">
                <template v-if="cusSource != null">
                  <div v-if="cusSource.includes(source.id)" class="source-chip-unselect">
                    <span>{{source.source}}</span>
                    <i @click="removeSource(source.id)" class="fa fa-times"></i>
                  </div>
                  <div v-else @click="addSource(source.id)" class="source-chip">
                    <span>{{source.source}}</span>
                  </div>
                </template>
                <div v-else @click="addSource(source.id)" class="source-chip">
                  <span>{{source.source}}</span>
                </div>
              </template>-->
            </span>
          </div>
          <div class="col-sm-6">
            <span v-for="(source,index) in countrySourcesArr" :key="index">
              <div v-if="cusSource.includes(source.id)" class="source-chip-unselect">
                <span>{{source.source}}</span>
                <i @click="removeSourceFilter(source.id)" class="fa fa-times"></i>
              </div>
              <div v-else @click="addSourceFilter(source.id)" class="source-chip">
                <span>{{source.source}}</span>
              </div>
            </span>
          </div>
        </div>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      customizeDialog: true,
      regionArr: "",
      countryArr: "",
      sourceArr: "",
      allArr: ""
    };
  },
  mounted() {
    this.getSource();
    this.getAll();
    this.getAllRegions();
    this.getAllCountries();
    this.getAllSources();
  },
  methods: {
    getSource() {
      this.$http({
        method: "get",
        url: process.env.VUE_APP_BASE_URL + "/get_sourcesAll"
      }).then(response => {
        console.log("all sources : ", response.data);
        // let id = response.data.map(val => {
        //   return val.id;
        // });
        // this.cusSource = id;
        // this.cusSource = [...new Set(this.cusSource)];
        // localStorage.setItem("source", JSON.stringify(this.cusSource));
        // console.log("sourceListArr: ", response.data);
        this.sourceListArr = response.data;
      });
    },
    getAll() {
      this.$http({
        method: "get",
        url: process.env.VUE_APP_BASE_URL + "/getAll",
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": true
        }
      }).then(response => {
        // let id = response.data.map(val => {
        //   return val.id;
        // });
        // this.cusRegion = id;
        // localStorage.setItem("new_region", JSON.stringify(this.cusRegion));
        console.log("allArr: ", response.data);
        this.allArr = response.data;
      });
    },
    getAllRegions() {
      this.$http({
        method: "get",
        url: process.env.VUE_APP_BASE_URL + "/get_regions",
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": true
        }
      }).then(response => {
        // let id = response.data.map(val => {
        //   return val.id;
        // });
        // this.cusRegion = id;
        // localStorage.setItem("new_region", JSON.stringify(this.cusRegion));
        console.log("regionArr: ", response.data);
        this.regionArr = response.data;
      });
    },
    getAllCountries() {
      this.$http({
        method: "get",
        url: process.env.VUE_APP_BASE_URL + "/get_countries/all",
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": true
        }
      }).then(response => {
        // if (!localStorage.getItem("country")) {
        //   let id = response.data.map(val => {
        //     return val.id;
        //   });
        //   this.cusCountry = id;
        //   localStorage.setItem("country", JSON.stringify(this.cusCountry));
        // } else {
        //   this.cusCountry = JSON.parse(localStorage.getItem("country"));
        // }
        console.log("countryArr: ", response.data);
        this.countryArr = response.data;
      });
    },
    getAllSources() {
      this.$http({
        method: "get",
        url: process.env.VUE_APP_BASE_URL + "/get_sourcesAll"
      }).then(response => {
        console.log("all sources : ", response);
        // let id = response.data.map(val => {
        //   return val.id;
        // });
        // this.cusSource = id;
        // this.cusSource = [...new Set(this.cusSource)];
        // localStorage.setItem("source", JSON.stringify(this.cusSource));
        console.log("sourceListArr: ", response.data);
        this.sourceArr = response.data;
      });
    }
  }
};
</script>

<style>
</style>