<template>
  <v-app id="inspire">
    <template v-if="this.$i18n.locale === 'en'">
      <ENPage />
    </template>
    <template v-if="this.$i18n.locale === 'ur'">
      <URPage />
    </template>
    <template v-if="this.$i18n.locale === 'ar'">
      <ARPage />
    </template>
    <template v-if="this.$i18n.locale === 'pu'">
      <PUPage />
    </template>
  </v-app>
</template>

<script>
import ENPage from "./ENPage";
import URPage from "./URPage";
import ARPage from "./ARPage";
import PUPage from "./PUPage";
export default {
  data: () => ({}),
  components: {
    ENPage,
    URPage,
    ARPage,
    PUPage
  }
};
</script>

<style>
</style>
