<template>
  <!-- left sidebar -->
  <v-navigation-drawer dark :width="180" v-model="drawer" fixed app>
    <v-layout align-center justify-center>
      <v-img
        :src="websiteLogo"
        aspect-ratio="1"
        class="grey lighten-2"
        max-width="500"
        max-height="300"
      ></v-img>
    </v-layout>
  </v-navigation-drawer>
</template>

<script>
import store from "../store";
export default {
  data: () => ({
    drawer: null,
    websiteLogo: require("@/assets/news-logo.jpg")
  }),
  created() {
      this.drawer = this.$store.getters.g_sideBarOpen;
      console.log(this.$store.getters.g_sideBarOpen)
  },
};
</script>

<style>
</style>
