    <!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/international/assets/images/logo.png">
    <title>Newshunt Dashboard</title>
    <!-- Custom CSS -->
    <link href="/international/dist/css/style.min.css" rel="stylesheet">
</head>

<body>
    <div id="app" class="main-wrapper">
        <div v-if="isLoading" class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative" style="background:url(/international/assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box row">
                <div class="col-lg-6 col-md-5 modal-bg-img" style="background-image: url(/international/assets/images/big/auth-bg.jpg);">
                </div>
                <div class="col-lg-6 col-md-7 bg-white">
                    <div class="p-3">
                        <div class="text-center">
                            <img src="/international/assets/images/big/icon.png" alt="wrapkit">
                        </div>
                        <h2 class="mt-3 text-center">Sign In</h2>
                        <h4 class="text-center">International Dashboard</h4>
                        <div v-if="error" class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <strong>Error - </strong> Username or Password not found
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="text-dark" for="uname">Username</label>
                                    <input v-model="username" class="form-control" type="text" placeholder="username">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="text-dark" for="pwd">Password</label>
                                    <input v-model="password" class="form-control" type="password" placeholder="password">
                                </div>
                            </div>
                            <div class="col-lg-12 text-center mb-3">
                                <button @click='login()' type="submit" :disabled="!username || !password" class="btn btn-block btn-dark">Sign In</button>
                            </div>
                            <div class="col-lg-12 text-center mt-5">
                                Don't have an account? <a href="/international/register" class="text-danger">Sign Up</a>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
    <script src="/international/assets/libs/jquery/dist/jquery.min.js "></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/international/assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="/international/assets/libs/bootstrap/dist/js/bootstrap.min.js "></script>
    <script src="/international/dist/js/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/international/vue/login.js"></script>
</body>

</html>