<!DOCTYPE html>
<html id="html-lang" dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/international/assets/images/logo.png">
    <title>Newshunt Dashboard</title>
    <!-- Custom CSS -->
    <link href="/international/dist/css/style.min.css" rel="stylesheet">


    <!-- flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    <link href="/international/dist/css/custom.css" rel="stylesheet">

</head>

<body>
    <div id="app">
        <div v-if="initialLoading" class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
            data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
            <header class="topbar" data-navbarbg="skin6">
                <nav class="navbar top-navbar navbar-expand-md">
                    <div class="navbar-header" data-logobg="skin6">
                        <!-- This is for the sidebar toggle which is visible on mobile only -->
                        <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                                class="ti-menu ti-close"></i></a>
                        <div class="navbar-brand">
                            <!-- Logo icon -->
                            <a href="/international/dashboard">
                                <b class="logo-icon">
                                    <!-- Dark Logo icon -->
                                    <img src="/international/assets/images/logo.png" width="50px" height="50px" alt="homepage" class="dark-logo" />
                                    <!-- Light Logo icon -->
                                    <!-- <img src="/international/assets/images/logo-icon.png" alt="homepage" class="light-logo" /> -->
                                </b>
                                <!--End Logo icon -->
                                <!-- Logo text -->
                                 <!-- <span class="logo-text">
                                    <img src="/international/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                                    <img src="/international/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                                </span>  -->
                            </a>
                            <h3>Newshunt</h3>
                        </div>
                        <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                            data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                                class="ti-more"
                                ></i></a>
                    </div>
                    <div class="navbar-collapse collapse" id="navbarSupportedContent" :class="{'right-280-margin': lang !== 'english'}">
                        <ul class="navbar-nav ">
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link" style="padding: 0px 0px 0px 15px !important;">
                                    <div class="customize-input">
                                        <select v-model="searchSort"
                                            class="custom-select form-control bg-white custom-radius custom-shadow border-0">
                                            <option value="phrase">{{trans.phrase}}</option>
                                            <option value="keyword">{{trans.keyword}}</option>
                                        </select>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item d-none d-md-block">
                                <a class="nav-link" href="javascript:void(0)">
                                        <div class="customize-input">
                                            <input v-model="search" @keyup.enter="searchInput()" class="form-control custom-shadow custom-radius border-0 bg-white"
                                                type="search" :placeholder="trans.search" aria-label="Search">
                                            <!-- <i class="form-control-icon" data-feather="search"></i> -->
                                            <svg @click="searchInput()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search form-control-icon"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                        </div>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <img src="/international/assets/images/users/profile-pic.jpg" alt="user" class="rounded-circle"
                                        width="40">
                                    <span class="ml-2 d-none d-lg-inline-block"><span>Demo,</span> <span
                                            class="text-dark">User</span> <i data-feather="chevron-down"
                                            class="svg-icon"></i></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                    <a class="dropdown-item" href="javascript:void(0)"><i data-feather="user"
                                            class="svg-icon mr-2 ml-1"></i>
                                        My Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/international/logout"><i data-feather="power"
                                            class="svg-icon mr-2 ml-1"></i>
                                        Logout</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav float-left ml-3 pl-1" :class="lang === 'english' ? 'ml-auto' : 'mr-auto'">
                            <li class="nav-item d-none d-md-block">
                                <a class="nav-link" href="javascript:void(0)">
                                    <div class="customize-input">
                                        <select
                                            v-model="lang"
                                            @change="setLanguage()"
                                            class="custom-select form-control bg-white custom-radius custom-shadow border-0">
                                            <option value="english">ENGLISH</option>
                                            <option value="pushto">پښتو</option>
                                            <option value="arabic">عربى</option>
                                        </select>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <aside class="left-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar" data-sidebarbg="skin6">
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                        
                            <li class="nav-small-cap"><h4 class="hide-menu">{{trans.filters}}</h4></li>

                            <li class="sidebar-item mt-1"> <a class="sidebar-link has-arrow active" href="javascript:void(0)"
                                aria-expanded="false">
                                <!-- <i data-feather="file-text" class="feather-icon"></i> -->
                                <span class="hide-menu">{{trans.countries}}</span></a>
                            <ul aria-expanded="false" class="collapse first-level base-level-line in">
                                <li class="sidebar-item">
                                    <div class="mb-2 mr-3">
                                        <input type="text" :placeholder="trans.search_country" v-model="country.search" class="form-control" name="" id="">
                                    </div>
                                    <div v-if="filteredCountry.length" class="custom-control custom-checkbox sidebar-link">
                                        <input  @change="countryCheck" v-model="countryAll" type="checkbox" class="custom-control-input" id="countryAllSource" :disabled="!hasCountry">
                                        <label :class="{'custom-right': lang !== 'english'}" class="custom-control-label" for="countryAllSource"><span style="text-transform: capitalize" :class="{'break-span': lang === 'english'}">{{trans.select_all}}</span></label>
                                    </div>
                                    <div v-for="item in filteredCountry" class="custom-control custom-checkbox sidebar-link">
                                        <input v-model="country.selected" :value="item.id" type="checkbox" class="custom-control-input" :id="item.name">
                                        <label :class="{'custom-right': lang !== 'english'}" class="custom-control-label" :for="item.name"><span style="text-transform: capitalize;" :class="{'break-span': lang === 'english'}">{{item.name}}</span></label>
                                    </div>
                                    <p v-if="filteredCountry.length && country.data.length > 6" class="load-more" :class="{'load-more-right': lang !== 'english'}" @click="country.all = !country.all">{{country.all ? trans.hide_more : trans.show_more }}</p>
                                    <p v-if="!filteredCountry.length" class="text-danger text-center">No Result</p>
                                </li>
                            </ul>
                        </li>
                        
                            <li class="sidebar-item mt-1"> <a class="sidebar-link has-arrow active" href="javascript:void(0)"
                                    aria-expanded="false">
                                    <!-- <i data-feather="file-text" class="feather-icon"></i> -->
                                    <span class="hide-menu">{{trans.sources}}</span></a>
                                <ul aria-expanded="false" class="collapse first-level base-level-line in">
                                    <li class="sidebar-item">
                                        <div class="mb-2 mr-3">
                                            <input type="text" :placeholder="trans.search_source" v-model="source.search" class="form-control" name="" id="">
                                        </div>
                                        <div v-if="filteredSource.length" class="custom-control custom-checkbox sidebar-link">
                                            <input v-model="sourceAll" type="checkbox" @change="sourceCheck" class="custom-control-input" id="selectAllSource" :disabled="!hasSource">
                                            <label :class="{'custom-right': lang !== 'english'}" class="custom-control-label" for="selectAllSource"><span style="text-transform: capitalize" :class="{'break-span': lang === 'english'}">{{trans.select_all}}</span></label>
                                        </div>
                                        <div v-for="item in filteredSource" class="custom-control custom-checkbox sidebar-link">
                                            <input v-model="source.selected" :value="item.id" type="checkbox" class="custom-control-input" :id="item.source">
                                            <label :class="{'custom-right': lang !== 'english'}" class="custom-control-label" :for="item.source"><span style="text-transform: capitalize;" :class="{'break-span': lang === 'english'}">{{item.source}}</span></label>
                                        </div>
                                        <p v-if="filteredSource.length && source.data.length > 6" class="load-more" :class="{'load-more-right': lang !== 'english'}" @click="source.all = !source.all">{{source.all ? trans.hide_more : trans.show_more }}</p>
                                        <p v-if="!filteredSource.length && !isSourceLoading" class="text-danger text-center">No Result</p>
                                        <div v-if="isSourceLoading" class="d-flex justify-content-center">
                                            <div class="spinner-grow text-primary" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-item mt-1"> <a class="sidebar-link has-arrow active" href="javascript:void(0)"
                                    aria-expanded="false">
                                    <!-- <i data-feather="grid" class="feather-icon"></i> -->
                                    <span class="hide-menu">{{trans.dates}}</span></a>
                                <ul aria-expanded="false" class="collapse first-level base-level-line in">
                                    <li class="sidebar-item">
                                        <div class="custom-control custom-radio sidebar-link">
                                            <input v-model="dateAll" type="radio" id="customRadio0" value="true" @change="datesCheck" class="custom-control-input">
                                            <label :class="{'custom-right': lang !== 'english'}" class="custom-control-label" for="customRadio0"><span>{{trans.select_all}}</span></label>
                                        </div>
                                        <div class="custom-control custom-radio sidebar-link">
                                            <input v-model="dateFilter" value="24h" type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                            <label :class="{'custom-right': lang !== 'english'}" class="custom-control-label" for="customRadio1"><span>{{trans.last_24_hours}}</span></label>
                                        </div>
                                        <div class="custom-control custom-radio sidebar-link">
                                            <input v-model="dateFilter" value="48h" type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                                            <label :class="{'custom-right': lang !== 'english'}" class="custom-control-label" for="customRadio4"><span>{{trans.last_48_hours}}</span></label>
                                        </div>
                                        <div class="custom-control custom-radio sidebar-link">
                                            <input v-model="dateFilter" value="7d" type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                            <label :class="{'custom-right': lang !== 'english'}" class="custom-control-label" for="customRadio2"><span>{{trans.last_7_days}}</span></label>
                                        </div>
                                        <div class="custom-control custom-radio sidebar-link">
                                            <input v-model="dateFilter" value="1m" type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                            <label :class="{'custom-right': lang !== 'english'}" class="custom-control-label" for="customRadio3"><span>{{trans.last_1_month}}</span></label>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-item mt-1"> <a class="sidebar-link has-arrow active" href="javascript:void(0)"
                                    aria-expanded="false">
                                    <!-- <i data-feather="bar-chart" class="feather-icon"></i> -->
                                    <span class="hide-menu">{{trans.date_range}}</span></a>
                                <ul aria-expanded="false" class="collapse first-level base-level-line in">
                                    <li class="sidebar-item">
                                        <div class="dateRange mb-2 mr-3">
                                            <input class="form-control" type="text" v-model="customDate"
                                            :placeholder="trans.date_range" data-input>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="list-divider"></li>
                            <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/international/logout"
                                    aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span
                                        class="hide-menu">Logout</span></a></li>
                            <button class="btn btn-danger btn-block" @click="resetFilter()">{{trans.reset_filter}}</button>
                        </ul>
                    </nav>
                </div>
            </aside>
            <div class="page-wrapper" :class="{'right-280-margin': lang !== 'english'}">                      
                    <div class="row">    
                        <div class="col-lg-12">     
                            <div class="card">
                                <div class="card-body" style="background: #f9fbfd;">
                                    <ul class="nav nav-tabs">
                                        <li><a :href="'/international/dashboard/'+searchTerm">{{trans.news_feed}}</a></li>
                                        <li><a :href="'/international/opinions/'+searchTerm">{{trans.opinion_feed}}</a></li>
                                        <li><a :href="'/international/statistics/'+searchTerm">{{trans.dashboard}}</a></li>
                                        <li class="active"><a :href="'/international/settings/'+searchTerm">{{trans.setting}}</a></li>
                                      </ul>
                                         <!-- <div class="page-breadcrumb">
                                                    <div class="row">
                                                        <div class="col-7 align-self-center">
                                                            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1" :class="{'text-right': lang !== 'english'}">{{trans.news_feed}}</h3>
                                                        </div>
                                                        <div class="col-5 align-self-center">
                                                            <div class="customize-input" :class="lang === 'english' ? 'float-right' : 'float-left'">
                                                                <select v-model="sort" class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
                                                                    <option value="asc">{{trans.ascending}}</option>
                                                                    <option value="desc">{{trans.descending}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->
                                      <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card" style="border-left: 1px solid #ddd;border-right: 1px solid #ddd;">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label for="pwd">Regions: </label>
                                                                <multiselect 
                                                                v-model="selectedRegions" 
                                                                :options="regions"
                                                                :multiple="true"
                                                                track-by="name"
                                                                :custom-label="customLabel"
                                                                @Input="getCountriess"
                                                                >
                                                              </multiselect>
                                                              </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <label for="pwd">Countries: </label>
                                                                    <multiselect 
                                                                    v-model="selectedCountries" 
                                                                    :options="countries"
                                                                    :multiple="true"
                                                                    track-by="name"
                                                                    :custom-label="customLabel"
                                                                    @Input="getSourcess"
                                                                    >
                                                                  </multiselect>
                                                                  </div>
                                                                </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label for="pwd">News Sources: </label>
                                                                <multiselect 
                                                                v-model="selectedSources" 
                                                                :options="sources"
                                                                :multiple="true"
                                                                track-by="source"
                                                                :custom-label="customLabel1"
                                                                >
                                                              </multiselect>
                                                              </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label for="pwd">Opinion Sources: </label>
                                                                <multiselect 
                                                                v-model="selectedOpinionSources" 
                                                                :options="opinionSources"
                                                                :multiple="true"
                                                                track-by="source"
                                                                :custom-label="customLabel1"
                                                                >
                                                              </multiselect>
                                                              </div>
                                                        </div> 
                                                        <div class="col-lg-12 d-flex justify-content-end">
                                                            <button v-on:click="save" class="btn btn-primary">Save</button>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div> 
                                    </div>
                                        </div>
                       
                                    </div>
                                </div>
                            </div> 
                        </div> 
                    </div>

                
                <footer class="footer text-center text-muted">
                </footer>
            </div>
        </div>
    </div>
    <!-- moment js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.2.1/moment.min.js"></script>
    <script src="/international/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/international/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/international/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="/international/dist/js/app-style-switcher.js"></script>
    <script src="/international/dist/js/feather.min.js"></script>
    <script src="/international/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/international/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/international/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    
    <script src="/international/dist/js/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/international/vue/settings.js"></script>

    <!-- flatpickr -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        $(".dateRange").flatpickr({
            wrap: true,
            weekNumbers: true,
            mode: 'range',
            maxDate: new Date(),
            dateFormat: "Y-m-d",
        });
    </script>
</body>

</html>