<!DOCTYPE html>
<html lang="en">


  <!-- [ Pre-loader ] End -->
  <!-- [ navigation menu ] start -->
  <%- include('./partials/admin/navbar')%>
  <!-- [ navigation menu ] end -->

  <!-- [ Main Content ] start -->
  <div class="pcoded-main-container" id="app">
    <div class="pcoded-wrapper">
      <div class="pcoded-content pt-4">
        <div class="pcoded-inner-content">
          <div class="main-body">
            <div class="page-wrapper">
              <!-- [ Main Content ] start -->
              <!-- DataTable -->
              <div id="isDataTable" class="col-lg-12">
                <div class="card">
                  <div class="card-header py-2 px-3 align-items-center d-flex justify-content-between">
                    <h5>Data</h5>
                    <button type="button" class="btn btn-outline-primary py-2" data-toggle="modal"
                      data-target="#exampleModal">
                      Add source
                    </button>
                    <div class="modal fade" id="exampleModal">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Add source</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="row mt-3">
                              <div class="col-md-6">
                                <label for="exampleInputEmail1">Name</label>
                                <input class="form-control" v-model="name" placeholder="Enter name" />
                              </div>
                              <div class="col-md-6">
                                <label>Slug</label>
                                <input class="form-control" v-model="slug" placeholder="Enter slug" />
                              </div>
                            </div>
                            <div class="row mt-3">
                              <div class="col-md-12">
                                <label>URL</label>
                                <input class="form-control" v-model="url" placeholder="Website URL" />
                              </div>
                            </div>
                            <div class="row mt-3">
                              <div class="col-md-6">
                                <label>Country</label>
                                <select v-model="country" class="form-control">
                                  <option v-for="(item,index) in countryArr" :value="item.id">
                                    {{ item.name }}
                                  </option>
                                </select>
                              </div>
                              <div class="col-md-6">
                                <label>Example select</label>
                                <select v-model="lng" class="form-control">
                                  <option value="english">English</option>
                                  <option value="urdu">Urdu</option>
                                  <option value="arabic">Arabic</option>
                                  <option value="pushto">Pushto</option>
                                </select>
                              </div>
                            </div>

                            <div class="row mt-3">
                              <div class="col-md-12">
                                <label for="examplelogo">logo</label>
                                <div class="input-group">
                                  <div class="custom-file">
                                    <input type="file" class="form-control custom-file-input"
                                      v-on:change="handleFileUpload($event.target.files)" />
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button v-if="name !='' & slug != '' & url != ''"
                              class="submit-btn mt-3 m-0 form-control btn btn-primary" @click="addSource()">
                              Submit
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-block">
                    <!-- table  -->
                    <div class="table-responsive">
                      <table class="example table table-hover display" width="100%"></table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- DataTable -->
            </div>
            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- [ Main Content ] end -->

  <!-- dataTable  -->
  <script src="./assets/js/datatable/jquery-3.3.1.js"></script>
  <script src="./assets/js/datatable/jquery.dataTables.min.js"></script>

  <!-- vue js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

  <!-- end of vue js -->

  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- vue section -->
  <script>
    var vue = new Vue({
      el: "#app",
      data: {
        name: "",
        slug: "",
        url: "",
        logo: "",
        lng: "english",
        country: "pakistan",
        datatable: "",
        dataSet: [],
        countryArr: [],
        plusMinus: true,
      },
      mounted() {
        this.getCountry();
        this.getAllSource();
      },
      methods: {
        getCountry() {
          axios.get("/admin/getcountry").then((response) => {
            this.countryArr = response.data;
          });
        },
        getAllSource() {
          $("#isDataTable").hide();
          this.dataSet = [];
          axios.get("/admin/getSources").then((response) => {
            response.data.sources.map((val) => {
              this.dataSet.push([
                "<h6>" + val.id + "</h6>",
                "<a href=/admin/getSourceUrls/" +
                val.id +
                ">" +
                val.source +
                "</a>",
                "<p>" + val.website + "</p>",
                "<p>" + val.lang + "</p>",
                "<p>" + this.getRelativeTime(val.updated_at) + "</p>",
              ]);
            });
            this.datatable.clear();
            this.datatable.rows.add(this.dataSet);
            this.datatable.draw();
            $("#isDataTable").show();
          });
        },
        addSource() {
          let formData = new FormData();
          formData.append("countryId", this.country);
          formData.append("name", this.name);
          formData.append("slug", this.slug);
          formData.append("url", this.url);
          formData.append("lng", this.lng);
          formData.append("logo", this.logo);

          axios
            .post("/admin/addSources/", formData, {
              headers: {
                "Content-Type": "multipart/form-data",
              },
            })
            .then((response) => {
              document.location.reload(true);
            });
        },
        handleFileUpload(fileList) {
          this.logo = fileList[0];
          console.log(this.logo);
        },
        getRelativeTime(date) {
          const units = {
            year: 24 * 60 * 60 * 1000 * 365,
            month: (24 * 60 * 60 * 1000 * 365) / 12,
            day: 24 * 60 * 60 * 1000,
            hour: 60 * 60 * 1000,
            minute: 60 * 1000,
            second: 1000,
          };

          const rtf = new Intl.RelativeTimeFormat("en", { numeric: "auto" });

          const elapsed = new Date(date) - new Date();
          // "Math.abs" accounts for both "past" & "future" scenarios
          for (const u in units)
            if (Math.abs(elapsed) > units[u] || u == "second")
              return rtf.format(Math.round(elapsed / units[u]), u);
        },
      },
    });
  </script>
  <!-- end of vue section  -->

  <script>
    vue.datatable = $(".example").DataTable({
      data: vue.dataSet,
      columns: [
        {
          title: "ID",
        },
        {
          title: "Source",
        },
        {
          title: "Website",
        },
        {
          title: "Language",
        },
        {
          title: "Last Scrapped",
        },
      ],
    });
  </script>

  <!-- Required Js -->
  <script src="assets/js/vendor-all.min.js"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/pcoded.min.js"></script>
</body>

</html>