<!DOCTYPE html>
<html lang="en">


  <!-- [ Pre-loader ] End -->
  <!-- [ navigation menu ] start -->
  <%- include('./partials/admin/navbar')%>
    <!-- [ navigation menu ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container" id="app">
        <div class="pcoded-wrapper">
            <div class="pcoded-content pt-4">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- DataTable -->
                                <div id="isDataTable" class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header d-flex py-2 align-items-center justify-content-between">
                                            <h5>Data</h5>
                                            <button class="btn btn-outline-primary py-2" data-toggle="modal" data-target="#AddkeywordCat">Keyword category</button> 
                                             <!-- Add keyword category modal   -->
                                                    <div class="modal fade" id="AddkeywordCat">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Add keyword category</h5>
                                                                </div>
                                                        <div class="modal-body">          
                                                        <div class="form-group">
                                                            <label>Keyword Category</label>
                                                            <input class="form-control" v-model="name"
                                                                placeholder="Enter Keyword Category">
                                                        </div>
                                                        <div class="form-group">
                                                    <button v-if="name !=''"
                                                        class="submit-btn btn btn-primary"
                                                        @click="addCate()">Submit</button>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                                    </div>
                                        </div>
                                        <div class="card-block">
                                            <!-- table  -->
                                            <div class="table-responsive">
                                                <table class="example table table-hover display" width="100%">
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- DataTable -->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->


    <!-- dataTable  -->
    <script src="/assets/js/datatable/jquery-3.3.1.js"></script>
    <script src="/assets/js/datatable/jquery.dataTables.min.js"></script>

    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <!-- end of vue js -->

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- vue section -->
    <script>
        var vue = new Vue({
            el: '#app',
            data: {
                name: "",
                region: "",
                datatable: "",
                sourceId: "",
                dataArr: [],
                dataSet: [],
                regionArr: [],
            },
            mounted() {
                this.getRegion()
                this.getCountry()
            },
            methods: {
                getRegion() {
                    axios
                        .get("/admin/getRegion")
                        .then(response => {
                            this.regionArr = response.data
                        })
                },
                getCountry() {
                    $('#isDataTable').hide()
                    this.dataSet = []
                    axios
                        .get("/admin/get-keyword-cat")
                        .then(response => {
                            console.log('response :', response.data);
                            response.data.map(val => {
                                this.dataSet.push(
                                    ["<h6>" + val.id + "</h6>", "<h6 class=\"m-0\">" + val.name + "</h6>"],
                                )
                            })
                            this.datatable.clear();
                            this.datatable.rows.add(this.dataSet);
                            this.datatable.draw();
                            $('#isDataTable').show()
                        })
                },
                addCate() {
                    axios
                        .post('/admin/add-keyword-cate/', {
                            name: this.name,
                        })
                        .then(response => {
                            document.location.reload(true)
                        })
                }
            }
        })
    </script>
    <!-- end of vue section  -->

    <script>
        vue.datatable = $('.example').DataTable({
            data: vue.dataSet,
            columns: [{
                title: "ID"
            }, {
                title: "Keyword-Category"
            }
            ]
        });
    </script>


    <!-- Required Js -->
    <script src="/assets/js/vendor-all.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/pcoded.min.js"></script>
</body>

</html>