<!DOCTYPE html>
<html lang="en">


  <!-- [ Pre-loader ] End -->
  <!-- [ navigation menu ] start -->
  <%- include('./partials/admin/navbar')%>
    <!-- [ navigation menu ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container" id="app">
        <div class="pcoded-wrapper">
            <div class="pcoded-content pt-4">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- DataTable -->
                                <div id="isDataTable" class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header py-2 px-3 align-items-center d-flex justify-content-between">
                                            <h5>Data</h5>
                                            <button class="btn btn-outline-primary py-2" data-target="#AddKeyword" data-toggle="modal">Add keyword</button>
                                            <div class="modal fade" id="AddKeyword">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Add Keyword</h5>
                                                        </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label>Keyword</label>
                                                    <input class="form-control" v-model="name"
                                                        placeholder="Enter name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Select Keywort Category</label>
                                                            <select v-model="category" class="form-control">
                                                                <option v-for="(item,index) in regionArr" :value="item.id">{{item.name}}</option>
                                                            </select>
                                                        </div>
                                                    <div class="form-group">
                                                        <button v-if="name !='' && category != ''"
                                                        class="submit-btn btn form-control m-0 btn-primary"
                                                        @click="addKeyword()">Submit</button>
                                                </div>
                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="card-block">
                                            <!-- table  -->
                                            <div class="table-responsive">
                                                <table class="example table table-hover display" width="100%">
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- DataTable -->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->


    <!-- dataTable  -->
    <script src="/assets/js/datatable/jquery-3.3.1.js"></script>
    <script src="/assets/js/datatable/jquery.dataTables.min.js"></script>

    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <!-- end of vue js -->

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- vue section -->
    <script>
        var vue = new Vue({
            el: '#app',
            data: {
                name: "",
                category: "",
                datatable: "",
                sourceId: "",
                dataArr: [],
                dataSet: [],
                regionArr: [],
            },
            mounted() {
                this.getKeywordCat()
                this.getKeywords()
            },
            methods: {
                getKeywordCat() {
                    axios
                        .get("/admin/getKeywordCat")
                        .then(response => {
                            this.regionArr = response.data
                        })
                },
                getKeywords() {
                    $('#isDataTable').hide()
                    this.dataSet = []
                    axios
                        .get("/admin/getkeywords")
                        .then(response => {
                            console.log('response :', response.data);
                            response.data.map(val => {
                                this.dataSet.push(
                                    ["<h6>" + val.id + "</h6>", "<h6 class=\"m-0\">" + val.word + "</h6>", "<p>" + val.name + "</p>"],
                                )
                            })
                            this.datatable.clear();
                            this.datatable.rows.add(this.dataSet);
                            this.datatable.draw();
                            $('#isDataTable').show()
                        })
                },
                addKeyword() {
                    axios
                        .post('/admin/addKeyword/', {
                            name: this.name,
                            category: this.category,
                        })
                        .then(response => {
                            document.location.reload(true)
                        })
                }
            }
        })
    </script>
    <!-- end of vue section  -->

    <script>
        vue.datatable = $('.example').DataTable({
            data: vue.dataSet,
            columns: [{
                title: "ID"
            }, {
                title: "Keyword"
            }, {
                title: "Category"
            },
            ]
        });
    </script>


    <!-- Required Js -->
    <script src="/assets/js/vendor-all.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/pcoded.min.js"></script>
</body>

</html>