<!DOCTYPE html>
<html lang="en">


  <!-- [ Pre-loader ] End -->
  <!-- [ navigation menu ] start -->
  <%- include('./partials/admin/navbar')%>
    <!-- [ navigation menu ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container" id="app">
        <div class="pcoded-wrapper ">
            <div class="pcoded-content pt-4">
                <div class="pcoded-inner-content ">
                    <div class="main-body ">
                        <div class="page-wrapper ">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- DataTable -->
                                <div id="isDataTable" class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header py-2 px-3 align-items-center d-flex justify-content-between">
                                            <h5>Data</h5>
                                            <button class="btn btn-outline-primary py-2" data-target="#AddOpinion" data-toggle="modal">Add opinion</button>
                                            <!-- add opinion modal -->
                                            <div class="modal fade" id="AddOpinion">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Add opinion</h5>
                                                            <button class="close" data-dismiss="modal">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                            <label for="exampleInputEmail1">Name</label>
                                                            <input class="form-control" v-model="name"
                                                                placeholder="Enter name">
                                                </div>
                                                        <div class="col-md-6">
                                                            <label>Slug</label>
                                                            <input class="form-control" v-model="slug"
                                                                placeholder="Enter slug">
                                                            </div>
                                                </div>
                                                        <div class="row">
                                                        <div class="col-md-12">
                                                            <label>URL</label>
                                                            <input class="form-control" v-model="url"
                                                                placeholder="Website URL">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Example select</label>
                                                            <select v-model="lng" class="form-control">
                                                                <option value="english">English</option>
                                                                <option value="urdu">Urdu</option>
                                                                <option value="arabic">Arabic</option>
                                                                <option value="pushto">Pushto</option>

                                                            </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Country</label>
                                                            <select v-model="country" class="form-control">
                                                                <option v-for="(item,index) in countryArr" :value="item.id">
                                                                    {{item.name}}</option>
                                                            </select>
                                                        </div>
                                            </div>
                                            <div class="row"> 
                                                    <div class="col-md-12 mt-3">
                                                        <div class="input-group">
                                                            <div class="custom-file">
                                                        <input type="file" class="form-control custom-file-input" v-on:change="handleFileUpload($event.target.files)">
                                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                                    </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                <button v-if="name !='' & slug != '' & url != ''"
                                                class="submit-btn m-0 btn btn-primary form-control"
                                                @click="addSource()">Submit</button>
                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                        <div class="card-block">
                                            <!-- table  -->
                                            <div class="table-responsive">
                                                <table class="example table table-hover display" width="100%">
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- DataTable -->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->


    <!-- dataTable  -->
    <script src="../assets/js/datatable/jquery-3.3.1.js"></script>
    <script src="../assets/js/datatable/jquery.dataTables.min.js"></script>

    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <!-- end of vue js -->

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- vue section -->
    <script>
        var vue = new Vue({
            el: '#app',
            data: {
                name: "",
                slug: "",
                url: "",
                logo:"",
                lng: "english",
                country: "pakistan",
                datatable: "",
                dataSet: [],
                countryArr: []
            },
            mounted() {
                this.getCountry()
                this.getAllSource()
            },
            methods: {
                getCountry() {
                    axios
                        .get("/admin/getcountry")
                        .then(response => {
                            this.countryArr = response.data
                        })
                },
                getAllSource() {
                    $('#isDataTable').hide()
                    this.dataSet = []
                    axios
                        .get("/admin/getOpinion")
                        .then(response => {
                            response.data.sources.map(val => {
                                this.dataSet.push(
                                    ["<h6>" + val.id + "</h6>", "<a href=/admin/getOpinionUrls/" + val.id + ">" + val.source + "</a>", "<h6 class=\"m-0\">" + val.slug + "</h6>", "<p>" + val.website + "</p>", "<p>" + val.lang + "</p>"],
                                )
                            })
                            this.datatable.clear();
                            this.datatable.rows.add(this.dataSet);
                            this.datatable.draw();
                            $('#isDataTable').show()
                        })
                },
                addSource() {
                    let formData = new FormData();
                formData.append("countryId", this.country);
                formData.append("name", this.name);
                formData.append("slug", this.slug);
                formData.append("url", this.url);
                formData.append("lng", this.lng);
                formData.append("logo", this.logo);

                    axios
                        .post('/admin/addOpinion/', formData, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        } })
                        .then(response => {
                            document.location.reload(true)
                        })
                },
                        handleFileUpload(fileList) {
                                this.logo = fileList[0];
                                console.log(this.logo)
        }
            }
        })
    </script>
    <!-- end of vue section  -->

    <script>
        vue.datatable = $('.example').DataTable({
            data: vue.dataSet,
            columns: [{
                title: "ID"
            }, {
                title: "Source"
            }, {
                title: "Slug"
            }, {
                title: "Website"
            }, {
                title: "Language"
            }
            ]
        });
    </script>


    <!-- Required Js -->
    <script src="../assets/js/vendor-all.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/pcoded.min.js"></script>
</body>

</html>