<!DOCTYPE html>
<html lang="en">


  <!-- [ Pre-loader ] End -->
  <!-- [ navigation menu ] start -->
  <%- include('./partials/admin/navbar')%>
    <!-- [ navigation menu ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container" id="app">
        <div class="pcoded-wrapper">
            <div class="pcoded-content pt-4">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">

                                <div class="col-xl-12">
                                    <div v-if="!isEdit" class="card mb-3">
                                        <div class="card-header">
                                            <h5>Add Opinion</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Data Name</label>
                                                    <select v-model="name" class="form-control">
                                                        <option value="*">*</option>
                                                        <option value="title">title</option>
                                                        <option value="description">description</option>
                                                        <option value="media">media</option>
                                                        <option value="body">body</option>
                                                        <option value="author">author</option>
                                                        <option value="tags">tags</option>
                                                        <option value="url">url</option>
                                                        <option value="sub_category">sub_category</option>
                                                        <option value="baseUrl">baseUrl</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <label>Data Path</label>
                                                    <input class="form-control" list="country" v-model="path" placeholder="Enter slug">
                                                    <datalist id="country">
                                                        <option value='meta[property="og:title"]'>
                                                        <option value='meta[property="og:image"]'>                                        
                                                      </datalist>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <label>Data Filter</label>
                                                    <input class="form-control" v-model="filter"
                                                        placeholder="Null, html or multi">
                                                </div>

                                                <div class="col-md-12 mt-2">
                                                    <label>Data Param</label>
                                                    <input class="form-control" v-model="param"
                                                        placeholder="Null, html or multi">
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <label>Data Type</label>
                                                    <select v-model="type" class="form-control">
                                                        <option value="string">String</option>
                                                        <option value="numeric">Numeric</option>
                                                        <option value="datetime">DateTime</option>
                                                    </select>
                                                </div>
                                                <button v-if="path !='' & param != ''"
                                                    class="submit-btn btn btn-primary" @click="addSource()">Add Data
                                                    Item</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else class="card">
                                        <div class="card-header">
                                            <h5>Edit Source</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Data Name</label>
                                                    <select v-model="name" class="form-control">
                                                        <option value="*">*</option>
                                                        <option value="title">title</option>
                                                        <option value="description">description</option>
                                                        <option value="media">media</option>
                                                        <option value="body">body</option>
                                                        <option value="author">author</option>
                                                        <option value="tags">tags</option>
                                                        <option value="url">url</option>
                                                        <option value="sub_category">sub_category</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <label>Data Path</label>
                                                    <input class="form-control" v-model="path" placeholder="Enter slug">
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <label>Data Filter</label>
                                                    <input class="form-control" v-model="filter"
                                                        placeholder="Null, html or multi">
                                                </div>

                                                <div class="col-md-12 mt-2">
                                                    <label>Data Param</label>
                                                    <input class="form-control" v-model="param"
                                                        placeholder="Null, html or multi">
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <label>Data Type</label>
                                                    <select v-model="type" class="form-control">
                                                        <option value="string">String</option>
                                                        <option value="numeric">Numeric</option>
                                                        <option value="datetime">DateTime</option>
                                                    </select>
                                                </div>
                                                <button class="submit-btn btn btn-danger" @click="cancelEdit()">Cancel
                                                    Update</button>
                                                <button v-if="path !='' & param != '' "
                                                    class="submit-btn btn btn-primary" @click="updateSource()">Update
                                                    Data
                                                    Item</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- DataTable -->
                                <div id="isDataTable" class="col-lg-12">
                                    <div class="card mb-3">
                                        <div class="card-header">
                                            <h5>Data</h5>
                                        </div>
                                        <div class="card-block">
                                            <!-- table  -->
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Data Name</th>
                                                            <th>Data Path</th>
                                                            <th>Data Param</th>
                                                            <th>Data Filter</th>
                                                            <th>Data Type</th>
                                                            <th>Operation</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% sourceUrlsDataPaths.map(val => { %>
                                                        <tr>
                                                            <th scope="row"><%-val.id %></th>
                                                            <td><%-val.data_name %></td>
                                                            <td id="path<%-val.id %>"><%-val.data_path %></td>
                                                            <td><%-val.data_param %></td>
                                                            <td><%-val.data_filter %></td>
                                                            <td><%-val.data_type %></td>
                                                            <td><i @click="editSource('<%-val.id %>','<%-val.data_name %>','<%-val.data_param %>','<%-val.data_filter %>','<%-val.data_type %>')"
                                                                    class="icon-edit feather icon-edit-1"
                                                                    aria-hidden="true"></i>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- DataTable -->

                            </div>
                            <!-- [ Main Content ] end -->
                            <div class="text-right">
                                <button v-if="relatedData !='null'"
                                class="submit-btn btn btn-primary m-0" @click="copyDataItems()">Copy Data Items</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <!-- end of vue js -->

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- vue section -->
    <script>
        var vue = new Vue({
            el: '#app',
            data: {
                relatedData:[],
                isEdit: false,
                updateSourceId: "",
                sourceId: "",
                name: "*",
                tempPath: "",
                path: "",
                param: "",
                filter: "",
                type: "string",
                dataSet: [],
            },
            mounted() {
                this.sourceId = window.location.href.split("/").reverse()[0];
                var relatedata = '<%- JSON.stringify(relatedSourceUrlId) %>'

                this.relatedData=relatedata;
                console.log(this.sourceId)
                console.log(this.relatedData)
                // console.log(JSON.parse(this.relatedData));
                // this.getSource()
                // $('#isDataTable').hide()
                // let self = this
                // this.dataSet = []
                // this.dataSet.push(
                //     ["<h6>" + dataSnap.key + "</h6>", "<h6 class=\"m-0\">" + snapShot.val().msg + "</h6>", "<h6 class=\"text-muted\">" + snapShot.val().time + "</h6>", "<p>" + data.key + "</p>", "<p>" + snapShot.val().readState + "</p>", "<button onclick=deleteMsg('" + dataSnap.key + "') class='btn btn-danger'>Delete</button>"],
                // )
                // this.datatable.clear();
                // this.datatable.rows.add(this.dataSet);
                // this.datatable.draw();

                // $('#isDataTable').show()
            },
            methods: {
                getSource() {
                    console.log('<%- JSON.stringify(sourceUrlsDataPaths) %>')
                    var data = '<%- JSON.stringify(sourceUrlsDataPaths) %>'

                    this.dataSet = JSON.parse(data)
                },
                addSource() {
                    axios
                        .post('/admin/addOpinionDataPath/', {
                            id: this.sourceId,
                            name: this.name,
                            path: this.path,
                            param: this.param,
                            filter: this.filter,
                            type: this.type
                        })
                        .then(response => {
                            document.location.reload(true)
                        })
                },
                editSource(id, name, param, filter, type) {
                    let path = document.getElementById("path" + id).innerHTML
                    console.log(path)
                    this.isEdit = true
                    this.updateSourceId = id
                    this.name = name
                    this.tempPath = path
                    this.path = path
                    this.param = param
                    this.filter = filter
                    this.type = type
                },
                cancelEdit() {
                    this.isEdit = false
                    this.name = "*"
                    this.path = ""
                    this.param = ""
                    this.filter = ""
                    this.type = "string"
                },
                updateSource() {
                    axios
                        .post('/admin/opinionDataPaths/update/', {
                            id: this.updateSourceId,
                            name: this.name,
                            path: this.path,
                            param: this.param,
                            filter: this.filter,
                            type: this.type
                        })
                        .then(response => {
                            document.location.reload(true)
                        })
                },
                copyDataItems(){
                    axios
                        .post('/admin/copyOpinionDataPaths', {
                            relatedData: this.relatedData,
                            sourceUrlId:this.sourceId
                        })
                        .then(response => {
                            document.location.reload(true)
                        })
                }
            },
            watch: {
                tempPath(val) {
                    if (val.indexOf('"') >= 0) {
                        val = val.replace(/"/g, '\\"')
                        this.path = val
                    }
                }
            },
        })
    </script>
    <!-- end of vue section  -->

    <!-- Required Js -->
    <script src="/assets/js/vendor-all.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/pcoded.min.js"></script>
</body>

</html>