<!DOCTYPE html>
<html lang="en">


  <!-- [ Pre-loader ] End -->
  <!-- [ navigation menu ] start -->
  <%- include('./partials/admin/navbar')%>
    <!-- [ navigation menu ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container" id="app">
        <div class="pcoded-wrapper">
            <div class="pcoded-content pt-4">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- DataTable -->
                                <div id="isDataTable" class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header py-2 d-flex justify-content-between align-items-center">
                                            <h5>Data</h5>
                                            <button class="btn py-2 btn-outline-primary" data-toggle="modal" data-target="#AddSourceUrl">Add source url</button>
                                            <!-- add source url modal -->
                                            <div class="modal fade" id="AddSourceUrl">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Add source url</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                      <div class="form-group">
                                                            <label>URL</label>
                                                            <input class="form-control" v-model="url"
                                                                placeholder="Website URL">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Select Encoding</label>
                                                            <select v-model="type" class="form-control">
                                                                <option value="html">HTML</option>
                                                                <option value="xml">XML</option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>Select category</label>
                                                            <select v-model="cat" class="form-control">
                                                                <option value="1">National</option>
                                                                <option value="2">World</option>
                                                                <option value="3">Sports</option>
                                                                <option value="4">Business</option>
                                                                <option value="5">Life & Style</option>
                                                                <option value="6">Health</option>
                                                                <option value="7">Technology</option>
                                                                <option value="8">Other</option>
                                                            </select>
                                                        </div>
                                                    <div class="form-group">
                                                    <button v-if="url !=''" class="submit-btn btn btn-primary"
                                                        @click="addSourceUrl()">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                        </div>
                                        <div class="card-block">
                                            <!-- table  -->
                                            <div class="table-responsive">
                                                <table class="example table table-hover display" width="100%">
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- DataTable -->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->


    <!-- dataTable  -->
    <script src="/assets/js/datatable/jquery-3.3.1.js"></script>
    <script src="/assets/js/datatable/jquery.dataTables.min.js"></script>

    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <!-- end of vue js -->

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- vue section -->
    <script>
        var vue = new Vue({
            el: '#app',
            data: {
                url: "",
                type: "html",
                cat: "1",
                datatable: "",
                sourceId: "",
                dataArr: [],
                dataSet: [],
            },
            mounted() {
                this.getSourceUrl()
                this.sourceId = window.location.href.split("/").reverse()[0]

                console.log(this.sourceId)

                // $('#isDataTable').hide()
                // let self = this
                // this.dataSet = []
                // this.dataSet.push(
                //     ["<h6>" + dataSnap.key + "</h6>", "<h6 class=\"m-0\">" + val.val().msg + "</h6>", "<h6 class=\"text-muted\">" + snapShot.val().time + "</h6>", "<p>" + data.key + "</p>", "<p>" + snapShot.val().readState + "</p>", "<button onclick=deleteMsg('" + dataSnap.key + "') class='btn btn-danger'>Delete</button>"],
                // )
                // this.datatable.clear();
                // this.datatable.rows.add(this.dataSet);
                // this.datatable.draw();

                // $('#isDataTable').show()
            },
            methods: {
                getSourceUrl() {
                    $('#isDataTable').hide()
                    var data = '<%- JSON.stringify(sourceUrls) %>'
                    this.dataArr = JSON.parse(data)
                    this.dataSet = []
                    this.dataArr.map(val => {
                        this.sourceId = val.source_id
                        this.dataSet.push(
                            ["<h6>" + val.id + "</h6>", "<a href=/admin/getSourceDataPaths/" +this.sourceId  + "/sourceId/"+val.id+">" + val.url + "</a>", "<h6 class=\"m-0\">" + val.encoding + "</h6>", "<p>" + val.category_id + "</p>"],
                        )
                    })

                    // console.log(this.datatable)
                    // this.datatable.clear();
                    // this.datatable.rows.add(this.dataSet);
                    // this.datatable.draw();
                    $('#isDataTable').show()
                },
                addSourceUrl() {
                    axios
                        .post('/admin/addSourceUrl/', {
                            url: this.url,
                            encoding: this.type,
                            catId: this.cat,
                            sourceId: this.sourceId
                        })
                        .then(response => {
                            document.location.reload(true)
                        })
                }
            }
        })
    </script>
    <!-- end of vue section  -->

    <script>
        vue.datatable = $('.example').DataTable({
            data: vue.dataSet,
            columns: [{
                title: "ID"
            }, {
                title: "URL"
            }, {
                title: "Encoding"
            }, {
                title: "Category"
            }
            ]
        });
    </script>


    <!-- Required Js -->
    <script src="/assets/js/vendor-all.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/pcoded.min.js"></script>
</body>

</html>