<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Source</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description"
        content="Free Datta Able Admin Template come up with latest Bootstrap 4 framework with basic components, form elements and lots of pre-made layout options" />
    <meta name="keywords"
        content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, datta able, datta able bootstrap admin template, free admin theme, free dashboard template" />
    <meta name="author" content="CodedThemes" />

    <!-- Favicon icon -->
    <link rel="icon" href="/assets/images/new-favicon.png" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/assets/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- javascript datatable... -->
    <link rel="stylesheet" href="/assets/js/datatable/jquery.dataTables.min.css">

    <!-- flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">>

    <!-- Load c3.css -->
    <link href="/assets/css/c3.css" rel="stylesheet">

    <style>
        .custom-input {
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        .table.dataTable tbody tr td {
            vertical-align: middle !important;
            background: white !important;
        }

        .table.dataTable td,
        .table.dataTable th {
            white-space: nowrap;
            padding: 1.05rem 0.75rem;
        }

        .label {
            border-radius: 15px;
            -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
        }

        .dataTables_filter input {
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        /* datepicker input  */

        .vdp-datepicker input {
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        .span-cls {
            padding: 0px 20px;
            cursor: pointer;
        }

        .span-active {
            color: #fff;
            background: #04a9f5;
            -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            padding: 11px 15px;
            margin: 0px 14px;
        }

        .submit-btn {
            margin: 8px 0px 0px 15px;
        }
    </style>

</head>

<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-content scroll-div mt-2">
                <!-- <ul class="nav pcoded-inner-navbar">
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                        class="nav-item active">
                        <a href="/" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i>
                            </span>
                            <span class="pcoded-mtext">Add Source</span>
                        </a>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                        <a href="/admin/add-region" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i>
                            </span>
                            <span class="pcoded-mtext">Add Region</span>
                        </a>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                        <a href="/admin/add-country" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i>
                            </span>
                            <span class="pcoded-mtext">Add Country</span>
                        </a>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                        <a href="/admin/add-keyword-category" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i>
                            </span>
                            <span class="pcoded-mtext">Add Keyword Category</span>
                        </a>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                        <a href="/admin/add-keyword" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i>
                            </span>
                            <span class="pcoded-mtext">Add Keyword</span>
                        </a>
                    </li>
                </ul> -->
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container" id="app">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">

                                <!-- <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Add Source</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="d-flex">
                                                        <div class="col-md-3">
                                                            <label for="exampleInputEmail1">Name</label>
                                                            <input class="form-control" v-model="name"
                                                                placeholder="Enter name">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label>Slug</label>
                                                            <input class="form-control" v-model="slug"
                                                                placeholder="Enter slug">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label>URL</label>
                                                            <input class="form-control" v-model="url"
                                                                placeholder="Website URL">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label>Example select</label>
                                                            <select v-model="lng" class="form-control">
                                                                <option value="english">English</option>
                                                                <option value="urdu">Urdu</option>
                                                                <option value="arabic">Arabic</option>
                                                                <option value="pushto">Pushto</option>

                                                            </select>
                                                        </div>
                                                        

                                                    </div>
                                                    <div class="d-flex">  
                                                    <div class="col-md-3">
                                                        <label>Country</label>
                                                        <select v-model="country" class="form-control">
                                                            <option v-for="(item,index) in countryArr" :value="item.id">
                                                                {{item.name}}</option>
                                                        </select>
                                                        
                                                        
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label for="examplelogo">logo</label>
                                                        <input type="file" class="form-control" v-on:change="handleFileUpload($event.target.files)">
                                                    </div>
                                                  
                                                </div>
                                                <button v-if="name !='' & slug != '' & url != ''"
                                                class="submit-btn btn btn-primary"
                                                @click="addSource()">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <!-- DataTable -->
                                <div id="isDataTable" class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Sources</h5>
                                        </div>
                                        <div class="card-block">
                                            <!-- table  -->
                                            <div class="table-responsive">
                                                <table class="example table table-hover display" width="100%">
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- DataTable -->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->


    <!-- dataTable  -->
    <script src="/assets/js/datatable/jquery-3.3.1.js"></script>
    <script src="/assets/js/datatable/jquery.dataTables.min.js"></script>

    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <!-- end of vue js -->

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- vue section -->
    <script>
        var vue = new Vue({
            el: '#app',
            data: {
                name: "",
                slug: "",
                url: "",
                logo:"",
                lng: "english",
                country: "pakistan",
                datatable: "",
                dataSet: [],
                categories: [],
                sourceId: "",
            },
            mounted() {
                this.sourceId = '<%-sourceId %>'
                console.log(this.sourceId)
                this.getCategories()
                // this.getAllSource()
            },
            methods: {
                getCategories() {
                    $('#isDataTable').hide()
                    this.dataSet = []
                    let sID = this.sourceId;
                    axios
                        .get("/test/getSourceCategories/"+this.sourceId)
                        .then(response => {
                            response.data.map(val => {
                                console.log(val)
                                this.dataSet.push(
                                    ["<h6>" + val.id + "</h6>", "<a href=/test/getSourceUrls/" + sID + "/cate/"+val.id+">" + val.category + "</a>","<a href=/test/meth-getSourceUrls/" + sID + "/cate/"+val.id+">Test 2</a>"],
                                )
                            })
                            this.datatable.clear();
                            this.datatable.rows.add(this.dataSet);
                            this.datatable.draw();
                            $('#isDataTable').show()
                        })
                },
                handleFileUpload(fileList) {
                                this.logo = fileList[0];
                                console.log(this.logo)
        }
            }
        })
    </script>
    <!-- end of vue section  -->

    <script>
        vue.datatable = $('.example').DataTable({
            data: vue.dataSet,
            columns: [{
                title: "ID"
            }, {
                title: "Category"
            }, {
                title: "Method"
            }
            ]
        });
    </script>


    <!-- Required Js -->
    <script src="/assets/js/vendor-all.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/pcoded.min.js"></script>
</body>

</html>