<head>
    <title>Add Source</title>
    <meta charset="utf-8" />
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description"
      content="Free Datta Able Admin Template come up with latest Bootstrap 4 framework with basic components, form elements and lots of pre-made layout options" />
    <meta name="keywords"
      content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, datta able, datta able bootstrap admin template, free admin theme, free dashboard template" />
    <meta name="author" content="CodedThemes" />
  
    <!-- Favicon icon -->
    <link rel="icon" href="/assets/images/new-favicon.png" type="image/x-icon" />
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/fontawesome-all.min.css" />
    <!-- animation css -->
    <link rel="stylesheet" href="/assets/plugins/animation/css/animate.min.css" />
    <!-- vendor css -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script src="https://kit.fontawesome.com/f9d342b858.js" crossorigin="anonymous"></script>
  
    <!-- javascript datatable... -->
    <link rel="stylesheet" href="/assets/js/datatable/jquery.dataTables.min.css" />
  
    <!-- flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css" />
  
    <!-- Load c3.css -->
    <link href="/assets/css/c3.css" rel="stylesheet" />
    <style>
      .custom-input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
  
      .table.dataTable tbody tr td {
        vertical-align: middle !important;
        background: white !important;
      }
  
      .table.dataTable td,
      .table.dataTable th {
        white-space: nowrap;
        padding: 1.05rem 0.75rem;
      }
  
      .label {
        border-radius: 15px;
        -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
      }
  
      .dataTables_filter input {
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
  
      /* datepicker input  */
  
      .vdp-datepicker input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
  
      .span-cls {
        padding: 0px 20px;
        cursor: pointer;
      }
  
      .span-active {
        color: #fff;
        background: #04a9f5;
        -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 11px 15px;
        margin: 0px 14px;
      }
  
      .submit-btn {
        margin: 8px 0px 0px 15px;
      }
  
      .main-body {
        margin-top: -15px;
      }
    </style>
  </head>
  
  <body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
      <div class="loader-track">
        <div class="loader-fill"></div>
      </div>
    </div>
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
      <div class="navbar-content scroll-div mt-2">
        <ul class="nav pcoded-inner-navbar">
           
            <li  class="nav-item m-0">
                <a href="/" class="nav-link">
                 <ul class="list-inline list-unstyled">
                  <li class="list-inline-item m-0"><img src="/logo.png" class="img-fluid" width="50" alt=""></li>
                  <li class="list-inline-item"><h6 class="text-white">NEWSHUNT</h6></li>
                 </ul>
                </a>
              </li>
          <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item active">
            <a href="/admin" class="nav-link">
              <span class="pcoded-micon">
                <i class="fa-solid fa-s"></i>
              </span>
              <span class="pcoded-mtext">Source</span>
            </a>
          </li>
          <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
            <a href="/admin/add-opinion" class="nav-link">
              <span class="pcoded-micon">
                <i class="fa-solid fa-0"></i>
              </span>
              <span class="pcoded-mtext">Opinion</span>
            </a>
          </li>
          <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
            <a href="/admin/add-region" class="nav-link">
              <span class="pcoded-micon">
                <i class="fa-solid fa-globe"></i>
              </span>
              <span class="pcoded-mtext">Region</span>
            </a>
          </li>
          <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
            <a href="/admin/add-country" class="nav-link">
              <span class="pcoded-micon">
                <i class="fa-solid fa-flag"></i>
              </span>
              <span class="pcoded-mtext">Country</span>
            </a>
          </li>
          <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
            <a href="/admin/add-keyword-category" class="nav-link">
              <span class="pcoded-micon">
                <i class="fa-solid fa-file-code"></i> </span>
              <span class="pcoded-mtext">Keyword Category</span>
            </a>
          </li>
          <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
            <a href="/admin/add-keyword" class="nav-link">
              <span class="pcoded-micon">
                <i class="fa-solid fa-file-code"></i>
              </span>
              <span class="pcoded-mtext">Keyword</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>