<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Favicon icon -->
    <link rel="icon" href="<%= BASE_URL %>new-favicon.png" type="image/x-icon">
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
    <title>Newshunt</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons&display=swap"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notonaskharabic.css?ver=5.3.2">
    <link 
        href="https://fonts.googleapis.com/css?family=Amiri|Ubuntu&display=swap"
        rel="preload">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <noscript>
        <strong>We're sorry but news-hunt doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>
    
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <style>
        .autocomplete-input {
            padding: 7px 12px 7px 48px !important;
            background-color: #f5f5f5;
            background-position: 10px 5px !important;
            width: 100% !important;
            color: black !important;
            border-radius: 2px !important;
            height: 40px;
        }


        .autocomplete-result {
            color: black !important;
        }
    </style>
</body>

</html>